[2017-07-07 08:44] ppeeou opened #1 "setting error"
https://github.com/lantiga/RedisTF >  Testing
bulid_deps.sh file
[code]
Error is checked in this part.

[2017-07-07 08:51] ppeeou opened #2 "[bug] RedisTF > models > tf-minimal.py"
before
[code]

after
[code]

[2017-07-09 07:40] ppeeou opened #3 "Please create a new branch. -> tensorFlow r1.2"
The codes in the current master branch are compatible with versions below tensorflow 1.0.
Could you please allow me to try to write the contents of tf_r1.2 branch currently being written to tensorflow 1.0 or later version?

[2017-07-09 07:54] #1 closed

[2017-07-09 07:54] #2 closed

[2017-07-09 12:52] lantiga commented on #3
Hi @ppeeou, absolutely. I just created a tf_r1.2 branch at the current master tip. Can you redirect your PR to that branch?
Thank you!

[2017-07-11 00:44] #3 closed

[2018-08-23 09:36] gkorland opened #6 ""did you mean 'libtensorflow_cc.so'?" when running build_deps.sh"
[code]

[2018-09-06 21:19] lantiga commented on #6
Hey @gkorland, I just updated the code to work with TF 1.10. On the *very* bright side, there's no need to build TF from source anymore.

I kept everything else as it was, for now.

[2018-09-06 21:19] #6 closed

[2018-09-07 00:38] gkorland opened #9 "Crash on TF.GRAPH foo graph.pb"
Using graph sample  - https://github.com/tensorflow/models/blob/master/samples/languages/java/training/model/graph.pb

[code]
causes

[code]

[2018-09-07 08:04] lantiga commented on #9
Does the model created by running `tf-minimal.py` crash as well?

[2018-09-07 08:20] lantiga commented on #9
So, in order to be served, the variables must be initialized and the graph must be frozen before exporting. Here's how I modified the script you pointed to (note how the saving part changes):

[code]

[2018-09-13 09:19] gkorland opened #10 "make run crashed on Ubuntu"
I'm getting the following error when trying to run

[code]

[code]

[2018-09-13 09:24] gkorland opened #11 "get_deps.sh should by default clone a specific stable versions of Redis"
[code]

[2018-09-13 19:13] #11 closed

[2018-09-13 19:13] lantiga commented on #10
Hi @gkorland, I am indeed reproducing this on a ubuntu box. Investigating right now.

[2018-09-13 20:04] lantiga commented on #10
I have a workaround.

I started by noticing that an empty redis module crashes upon loading the moment you add `-ltensorflow` to the `LD_FLAGS`.

Inspecting the stack trace I noticed that the crash was related to `jemalloc`, so I built Redis with `libc` malloc as the allocator. This prevents the crash and `make run` succeeds.

I'll need to understand more, but for the time being I'll set the `MALL

[2018-09-14 22:58] gkorland opened #13 ""python tf-minimal.py" not working"
[code]

[2018-09-14 23:07] gkorland commented on #13
Installing TF helped but it's not part of the dependency

[code]

[2018-09-16 08:08] gkorland opened #14 "Optimized TF compilation to use local CPU supported instructions"
[code]

[2018-09-17 15:29] lantiga commented on #10
@gkorland may I close this one?

[2018-09-17 15:35] lantiga commented on #13
You're right, I'll add this to the `README`. I don't think we can include it in `get_deps.sh`, since different setups will install TF differently, e.g. virtualenv vs conda, etc.

[2018-09-17 15:39] lantiga commented on #13
Closing this for now, @gkorland feel free to reopen

[2018-09-17 15:39] #13 closed

[2018-09-17 15:39] lantiga commented on #9
@gkorland may I close this one?

[2018-09-20 13:38] gkorland commented on #10
yes

[2018-09-20 13:38] #10 closed

[2018-09-26 06:27] lantiga commented on #9
Running a graph that is not frozen also needs a checkpoint file. If it’s not there, TF raises an exception, which we’re not handling yet.
We should definitely fail gracefully, but I’d still require frozen graphs at least for now.

[2018-09-26 06:58] gkorland commented on #9
Ok, so let's keep this issue for now, so we won't forget to handle the fail gracefully

[2018-10-02 17:58] cfregly opened #16 "Installation failed on both Mac OS and Ubuntu 16.04"
I haven't tried debugging further, but right off the bat, i'm seeing the following issues on MacOS and Ubuntu 16.04

Any help would be appreciated.  Preparing for a demo with the Redis SF folks at the end of this month here:  https://www.meetup.com/Advanced-Spark-and-TensorFlow-Meetup/events/254846318/

Thanks!!

MacOS:

[code]

Linux:
[code]

[2018-10-02 18:00] itamarhaber commented on #16
Hey @cfregly

Wrt to macos, please try #15

[2018-10-04 20:43] gkorland opened #17 "Error on more than on dimension input"
[code]

It seems the bug is in
[code]

Should be:
[code]

[2018-10-04 20:45] gkorland opened #18 "Crash on more than single dimension values"
[code]

[code]

[2018-10-05 07:42] #17 closed

[2018-10-05 07:45] lantiga commented on #18
Solved by #19

[2018-10-05 07:47] lantiga commented on #16
Hi @cfregly, can you try with `bash get_deps.sh`?

[2018-10-05 08:15] gkorland commented on #18
@lantiga #19 didn't solve the crash I'm still getting it, the crash happens after it passes the fix in #19

[2018-10-05 08:20] lantiga commented on #18
@gkorland after @19 I get
[code]

[2018-10-05 08:40] lantiga commented on #18
Can you send me more details on the crash?

[2018-10-05 09:33] gkorland commented on #18
I'm getting the crash at the top, when the code trying to call TF method to extract the underline array from the Tensor

[2018-10-05 09:51] lantiga commented on #18
This works for me
[code]

Can you please try to pull from master, rebuild and try again? Thanks!

[2018-10-05 12:01] gkorland commented on #18
Same crash

[code]

[2018-10-05 12:28] lantiga commented on #18
Ah! Ok, can we stay on Redis 5.0 for today?

[2018-10-07 09:02] #18 closed

[2018-11-12 14:45] gkorland opened #22 "Optimized TF compilation to use GPU/CUDA"

[2018-11-27 17:15] lantiga commented on #22
On Linux RedisDL now builds against the GPU version by default.
To force it to build against the CPU version, just do
[code]
This means that everything will run on GPU if CUDA finds a device. If not, it will fall back to CPU.
To disable GPU even if one is found, run `redis` with the `CUDA_VISIBLE_DEVICES` environment variable set to empty.

Next thing in line is specifying the device at the Redis

[2018-11-28 08:39] lantiga commented on #22
So, following internal discussion we'll not be pursuing device selection at the command-level, but rather globally, using an upcoming `dl.config` command.

[2019-01-15 19:59] echiu3 opened #27 "Crash on $REDIS_CLI -x AI.SET GRAPH yolo TF GPU < tiny-yolo-voc.pb"
Running `load_yolo.sh` on MacOS Mojave with Tensorflow 1.12 but encounter "ERR failed creating the graph."

[code]

There does not seem to be a tf-minimal.py equivalent for tiny-yolo-voc.pb.

Also having trouble finding stack trace or logs from redis-cli.

[2019-01-16 07:57] lantiga commented on #27
Hi @echiu3, thanks for the report.
Did you install `git lfs` (https://git-lfs.github.com)?
The repo contains some large files that are stored using LFS in order to keep the repo lean. The data files in the repo are only pointers to the actual files, and they are pulled only if you have `git lfs` installed. If not, this would explain `SET GRAPH` failing.

Can you let me know what
`cat tiny-yolo-voc

[2019-01-17 22:37] echiu3 commented on #27
Hi,

I installed `git lfs` and recloned the repo. Everything seems to work now!

`cat tiny-yolo-voc.pb` just printed out a bunch of characters.

Thanks!

[2019-01-18 10:52] lantiga commented on #27
Great, thanks for letting us know! Closing the issue.

[2019-01-18 10:52] #27 closed

[2019-02-08 11:11] lantiga commented on #22
Closing as outdated.

[2019-02-08 11:11] #22 closed

[2019-02-08 11:12] lantiga commented on #16
Closing as obsolete. Feel free to reopen.

[2019-02-08 11:12] #16 closed

[2019-02-08 11:15] lantiga opened #33 "Add ONNXRuntime backend"
For more info on ONNXRuntime see https://github.com/Microsoft/onnxruntime

It has very extensive support for the ONNX standard.
It also supports ONNX-ML, allowing ML models created, say, with sklearn, to be executed in RedisAI.

[2019-02-08 11:28] lantiga opened #34 "Add libtorch backend"
libtorch is a C++ library behind PyTorch.

It provides running models traced from PyTorch (from Python or the C++ frontend): https://pytorch.org/tutorials/advanced/cpp_export.html

It also provides TorchScript, which is a key feature in RedisAI.

[2019-02-08 11:31] lantiga opened #35 "Create 0.1.0 branch"
This will be useful to support testing and backport changes, while master moves on towards 0.2.0

[2019-02-08 11:40] lantiga opened #36 "Add CONFIG command for configuring/loading backends"
Supporting multiple backends (and multiple versions of a backend, e.g. CPU-only, CUDA etc) will have to happen on a dynamic configuration basis, using a `CONFIG` command.

For instance, if we're not using TF, there's no point in loading the libraries or the CUDA kernels.

One tricky part could be unloading, so for the first iteration we wouldn't go back after a load.

TorchScript support could be

[2019-02-11 09:30] gkorland opened #43 "GET TENSOR on missing key wrong error"
current error
[code]

Should be  more about missing key

[2019-02-12 00:33] lantiga opened #44 "Add integration with Redis data structures"

[2019-02-12 16:59] lantiga opened #46 "Add RLTests for PyTorch backend"

[2019-02-13 08:41] lantiga opened #47 "Refactor multi-backend support to use function pointers"
See https://github.com/RedisAI/RedisAI/pull/45#discussion_r256281991

[2019-02-13 11:21] K-Jo commented on #35
@lantiga assume this is done since the branch is there?

[2019-02-13 11:31] lantiga commented on #35
Yep, closing

[2019-02-13 11:31] #35 closed

[2019-02-13 11:35] lantiga commented on #34
See #45

[2019-02-13 11:40] lantiga opened #49 "Refactor RUN SET GET commands"
The suggested idea is to concentrate all the backend-specific stuff (NAMES included) in the AI.SET GRAPH command;
This way if a client or RedisAI's codebase that calls RUN into a TensorFlow model can change the model underneath into a PyTorch model instead without having to update the code.  The model can be updated by calling AI.SET, and all the AI.RUN commands will be unmodified.

RUN will be de

[2019-02-13 12:46] K-Jo commented on #49
I like the approach of having the AI.RUN agnostic of the underlying model.

In addition I think we need a more simple interface to divide logic from tensors.

[code]
since there is no GET alternative on a script/graph.

[2019-02-13 16:12] gkorland commented on #49
@K-Jo there should be AI.SET/GET GRAPH

[2019-02-13 22:08] lantiga commented on #49
We have a final decision to make: do we go with
[code]
or
[code]

Like
[code]
or
[code]

Note that from an implementation standpoint it doesn't literally change anything (it's not more complex to have a subcommand to dispatch on the object type).

From a documentation standpoint, though, if one groups docs by command, as done usually in Redis, it might be confusing to see what the commands do with

[2019-02-13 22:09] lantiga commented on #49
This is the last round of changes before it's final. I'd like to have the refactor complete and final by Friday Jan 15.

[2019-02-13 22:39] K-Jo commented on #49
There could be a fourth, hybrid option.  You consider a tensor as a datatype and align it with Redis.  Same goes for the Graph and the Script, but the Run command you keep separate.

[code]

THE VOTES ARE OPEN!!!
Option 1:
[code]
Option 2
[code]
Option 3:
[code]
Option 4 Hybrid:
For Data
[code]
For execution
[code]

THE VOTES ARE OPEN!!!

[2019-02-14 08:32] gkorland commented on #49
I think we should go with
[code]

[2019-02-14 09:47] lantiga commented on #49
Votes from @itamarhaber @MeirShpilraien @K-Jo ? 🍿

[2019-02-14 12:25] K-Jo commented on #49
Pardon my ignorance, but why do we need a GET on graph and script?

[2019-02-14 12:27] lantiga commented on #49
I'd say mostly for introspection: the GRAPHGET could return a sha of the protobuf, so you can check whether the graph at the key is the graph you're expecting.
On the same lines, the GET on script could return the full script or a sha (it return the full script right now, I'd keep it that way).

[2019-02-14 12:35] MeirShpilraien commented on #49
In my opinion we should go with
[code]

[2019-02-15 08:22] lantiga commented on #49
So it looks like we have a winner? I like that too, btw.

[2019-02-15 14:35] K-Jo commented on #49
@lantiga @gkorland One last discussion to be held here.  Apologies!  Is there any objection renaming Graph to Model?  If we think in a broader context, we plan to add the OMNIX support for ML models, which would allow a further abstraction of an
[code]
command

[2019-02-15 17:12] lantiga commented on #49
I’m not opposed to this, you have a good point with ML.

Others?

[2019-02-17 13:11] gkorland commented on #49
:+1:

[2019-02-18 09:51] K-Jo commented on #49
Ok Here's the final list
[code]

[2019-02-18 17:11] lantiga commented on #49
Reopening the issue just so we can link a PR to it.

[2019-02-20 12:24] gkorland opened #54 "Set module version to 0.1.0"

[2019-02-20 12:24] #54 closed

[2019-02-20 12:24] gkorland opened #55 "Fix Docker"

[2019-02-20 12:24] #55 closed

[2019-02-20 12:25] gkorland opened #56 "CI automation - CircleCI"

[2019-02-20 12:25] #56 closed

[2019-02-20 12:25] gkorland opened #57 "Publish docker on docker hub"

[2019-02-20 12:25] #57 closed

[2019-02-20 12:26] gkorland opened #58 "Switch license to AGPL"

[2019-02-20 12:26] #58 closed

[2019-02-20 12:27] gkorland opened #59 "Cleanup docs for 0.1.0"

[2019-02-20 12:27] gkorland opened #60 "Valgrind memory leak test"
Most of leaks are within corner cases ( disconnects, bad input, etc... ).
 - [x]  **Common Commands ( TENSORSET, TENSORGET )**
```make -C opt test GEN=0 SLAVES=0 AOF=0 VALGRIND=1 TEST="tests_common.py"```
 - [x]  **TF**
```make -C opt test GEN=0 SLAVES=0 AOF=0 VALGRIND=1 TEST="tests_tensorflow.py"```

   - [x] test_run_tf_model
```make -C opt test GEN=0 SLAVES=0 AOF=0 VALGRIND=1 TEST="tests_tensor

[2019-02-22 16:51] mnunberg commented on #60
I've found some leaks, but I want to wait for the command refactor to go in before fixing them

[2019-02-23 23:50] lantiga opened #62 "Test unhappy paths"
We need to thoroughly test (in RLTest) as many unhappy paths as possible, like
- incomplete or mis-crafted commands
- corrupted protobufs
- incorrect scripts

[2019-02-24 07:48] madarariel opened #63 "The RDB file contains module data for the module type 'DL_TENSOR', that the responsible module is not able to load"
RedisAI

Steps:
1. Create a database without replication
2. Put some AI keys to the database
3. Enable replication
Slave will fail to sync from master:
[code]

[2019-02-24 13:05] lantiga commented on #63
Hi @madarariel, thanks for opening the issue.

Serialization and replication are features that we haven't supported yet. My plan is to straighten those up this coming week. I'm going to open a dedicated issue and reference this one.

[2019-02-24 13:12] lantiga opened #64 "Implement serialization and replication"
So far we didn't really take care of serialization and replication for RedisAI data types.
It should be straightforward, with one caveat: in MODELSET we take the protobuf, deserialize it and throw it away (we only keep the model in memory, not the protobuf as it would be wasteful).
However, we will need to serialize the protobuf as-is (pre deserialization) for persistence and replication within th

[2019-02-24 13:13] lantiga commented on #34
Closing as #45 has been merged.

[2019-02-24 13:13] #34 closed

[2019-02-24 13:22] lantiga commented on #49
#52 has been merged, so closing

[2019-02-24 13:22] #49 closed

[2019-02-26 11:30] lantiga commented on #60
Hey @mnunberg, feel free to send me a preview of the leaks you found, most of them are probably fixable quickly.

[2019-02-27 22:12] lantiga commented on #59
See https://github.com/RedisAI/RedisAI/commit/fcf17b8696b9e2f89f51c05ec74e6f9dd979152c

[2019-02-27 22:12] #59 closed

[2019-02-27 22:27] lantiga opened #67 "Implement auto-batching"
At some point we should introduce automatic batching of run requests. Models, especially on the GPU, run more efficiently when inputs are batched.

One possible use case is that multiple run requests to the same model that are sitting in the queue are batched together and invoked once. This could work:
- analyze the queue, see if there are other calls to the same model (with inputs of the same sha

[2019-02-28 16:07] gkorland opened #68 "TENSORGET returns only zeros on INT32"
[code]

[2019-03-01 02:42] gkorland opened #69 "Tensor values shouldn't be returned strings but as numbers"
[code]

[2019-03-01 20:37] lantiga commented on #69
Hi @gkorland, I'm using `RedisModule_ReplyWithDouble` correctly, I think, see:
https://github.com/RedisAI/RedisAI/blob/master/src/redisai.c#L366

The thing is that the current Redis protocol doesn't support floating point values, so they get coerced into strings when returned. In contrast, VALUES from an integer tensor works with integer types as expected.

So there isn't much we can do about this

[2019-03-01 20:38] lantiga commented on #68
Should be solved by #68, test failures are unrelated. In any case, I'll now try to find a fix for those and close the issue afterwards.

[2019-03-01 20:54] lantiga commented on #68
Solved

[2019-03-01 20:54] #68 closed

[2019-03-01 20:55] lantiga commented on #69
Closing now, feel free to reopen @gkorland

[2019-03-01 20:55] #69 closed

[2019-03-02 07:02] lantiga opened #71 "Create a queue per device, both for models and script"
We should allow models and scripts to be placed on the available devices (CPU, GPU0, GPU1, etc) and execute concurrently.

To do so, instead of a single execution queue, we should have as many queues as we have devices.

[2019-03-02 20:14] K-Jo commented on #60
Any update on this?

[2019-03-02 23:14] gkorland opened #73 "Crash on AI.MODELSET"
Running the following:
[code]

Causes:
[code]

[2019-03-02 23:38] gkorland opened #74 "Crash on AI.SCRIPTSET"
[code]

[code]

[2019-03-02 23:39] gkorland opened #75 "Crash on AI.SCRIPTSET"
[code]

[code]

[2019-03-03 07:52] lantiga commented on #73
All issues (#73, #74, #75) are related to the error detail being freed in https://github.com/RedisAI/RedisAI/blob/master/src/err.c#L29

The crash doesn't occur on my setup (the error occurs and gets transmitted back tot he client, but the server doesn't crash), so I'll move to Linux.

It may be because we're using `free` instead of `RedisModule_Free`, I'm looking into this.

[2019-03-03 20:41] K-Jo commented on #75
@gkorland can we review this to close?

[2019-03-03 20:41] K-Jo commented on #74
@gkorland can we review this to close?

[2019-03-03 20:41] K-Jo commented on #73
@gkorland can we review this to close?

[2019-03-04 12:30] #73 closed

[2019-03-04 12:30] #75 closed

[2019-03-04 12:30] #74 closed

[2019-03-05 05:30] hhsecond opened #81 "Crash on MODELRUN with pt-minimal.pt"
Redis server is crashing on the `MODELRUN` with `pt-minimal.pt` model from example. I am able to run the same model with pytorch from python terminal. I am using ubuntu 18.04.2. Also, I have issue only with libtorch backend. Tensorflow backend with graph.pb ran succesfully.
[code]

[2019-03-05 05:40] hhsecond opened #82 "Quick start guide is incomplete"
I understand it's under development. Certain things I found good-to-have in the document is mentioning about the command line arguments to `get_deps.sh`, pre-requisites for `get_deps.sh` to work such as 	- unzip, cmake, g++, redis server, GPU/CPU etc. Perhaps our shell script could give a warning before it starts the execution. I could give a PR, if these are not written yet

[2019-03-05 07:44] gkorland commented on #81
@hhsecond can you please attach the server error on crash?

[2019-03-05 08:12] hhsecond commented on #81
Here is the server error @gkorland @lantiga

[code]

[2019-03-05 08:18] lantiga commented on #81
Thank you @hhsecond. #72 should also fix crashes on libtorch.

I added more tests and related fixes.

@gkorland i’m waiting for a final review.

[2019-03-05 10:25] lantiga commented on #81
I just merged #72, @hhsecond can you verify if the crash has been solved now?

[2019-03-05 10:45] hhsecond commented on #81
@lantiga Fixed, Thanks.
Closing the issue

[2019-03-05 10:45] #81 closed

[2019-03-05 11:15] lantiga commented on #81
Great, thank you @hhsecond

[2019-03-05 11:15] lantiga commented on #64
Closed by #72

[2019-03-05 11:15] #64 closed

[2019-03-05 11:15] lantiga commented on #63
#72 has been merged. @madarariel can you verify this is solved? Thanks

[2019-03-05 11:16] lantiga commented on #62
Addressed in #72

[2019-03-05 11:16] #62 closed

[2019-03-05 11:16] lantiga commented on #46
Addressed in #72

[2019-03-05 11:16] #46 closed

[2019-03-05 11:18] lantiga commented on #9
Should be solved by #72, feel free to reopen

[2019-03-05 16:06] lantiga opened #83 "Add synchronous MODELRUN execution for AOF loading, MULTI, Lua"
AOF loading does not support commands that block the client.

In `AI.MODELRUN` we should detect MULTI and Lua contexts (AOF loading falls into MULTI) and in that case avoid the queue and just execute synchronously.

More in general, the use of MULTI for long-running jobs like executing models should be discouraged. Transactional guarantees are tricky in the presence of asynchronous, long-running c

[2019-03-05 16:09] lantiga opened #84 "Replicate results instead of commands in `MODELRUN`"
Instead of replicating MODELRUN verbatim, we should just replicate the result.

This amounts to using `RedisModule_Replicate` and sending `AI.TENSORSET` instead of `AI.MODELRUN`, with the serialized output tensors as arguments.

This needs to happen in `RedisAI_Run_Reply`, once the computation has finished and the client has been unblocked and the response is being sent (since that is the first op

[2019-03-06 09:30] lantiga opened #85 "Add variant of MODELRUN that returns outputs instead of storing them at keys"
This variant could be triggered by simply omitting the `OUTPUTS` arguments in the command.

[2019-03-06 13:58] lantiga commented on #63
Closing as all tests seem to suggest this is solved.
@madarariel feel free to reopen.

[2019-03-06 13:58] #63 closed

[2019-03-07 01:35] lantiga commented on #84
Two comments:

1. the same holds for `SCRIPTRUN`
2. with reference to #86, `MODELRUN` and `SCRIPTRUN` should only be replicated if output keys are specified, otherwise they should not (since the variant that returns the outputs directly does not have any side-effect on the server side)

[2019-03-07 12:39] K-Jo opened #87 "Use redis memory allocator for backends"

[2019-03-07 12:47] #9 closed

[2019-03-12 22:13] lantiga opened #88 "Add `DAGRUN` (or `PIPERUN`) command"
A common pattern is enqueuing multiple `SCRIPTRUN` and `MODELRUN` commands. Setting input tensors, storing intermediates of `*RUN` commands and storing outputs all in keyspace means that all written keys will be AOF'd and replicated even if they will be disposed of shortly after.

## DAGRUN

A general solution to this problem is to have a `DAGRUN` (or `PIPERUN`, we'll see about the name - it is a

[2019-03-12 22:18] lantiga commented on #85
Closing in view of #88

[2019-03-12 22:18] #85 closed

[2019-03-13 02:37] hhsecond commented on #88
I have more thoughts on this variant but could be a bit sophisticated and might remove certain benefits that we could get from the proposed DAGRUN. I am not completely sure about the performance implication but if that's negligible, this could be a good feature to have

### Proposal Update
If a user could name the DAGRUN
[code]

#### Advantages
- User can use that name in the future in DAGRUNASYNC

[2019-03-13 08:40] lantiga commented on #88
Thank you @hhsecond, I'm going to think about this. One essential feature of DAG to me is that it has to be isolated: it has to clearly fail or succeed as a whole, volatile vars should not be visible to other clients or to other calls, the client should block for the duration of the DAG, etc.

This proposal adds some complexity, as we need to have the DAG persist in key-space itself if we want it

[2019-03-13 18:36] hhsecond commented on #88
That makes sense, let's do that. Just out of curiosity, why do you think the volatile vars should not be visible to other calls -> because of the complexity you mentioned above or are there other reasons as well?

[2019-03-14 07:42] lantiga commented on #88
Making them persistent introduces a few complications that I'd rather not address right now:
- when do we clean them?
- do they need to be visibile to other clients? If not, what happens if a client reconnects, do we need a mechanism to identify that that client is still the same client?
- what happens to AOF, serialization in general and replication? If the server goes down what happens to volati

[2019-03-15 11:07] lantiga commented on #71
This goes in tandem with the new DAG command (to enable parallel invocations from a single client).
We should enable the queue for script, but keep models and scripts on the same queue for fairness, at least at the beginning.

[2019-03-18 22:56] itamarhaber opened #91 "[FR] Decrease crypticness of 'model fail to run' error message"

[2019-03-19 16:08] lantiga opened #92 "Add AI.INFO command"
We should write the equivalent of the Redis `INFO` command, to make it easy to write plugin for Prometheus, Telegraf, etc for monitoring (time to compute, number of requests, memory, state of cuda allocations, etc)

[2019-03-20 13:41] itamarhaber opened #94 "Unmatched functions declarations between API and actual signatures"
Errors are not handled when calling scripts and models via API.

/cc @MeirShpilraien

[2019-03-20 15:39] lantiga commented on #94
8cb270829fd819ac65535aa5c2335ce989ef44c8 should address this

[2019-03-20 16:22] #94 closed

[2019-03-24 06:50] itamarhaber opened #96 "[FR] Expose RAI_Error API"
As the returned error RAI_Error* struct is opaque, it requires getters, an initializer and a destructor.

[2019-03-24 11:29] mnunberg commented on #96
Initializer: `={0}`
destructor: `RAI_ClearError()`

[2019-03-24 12:46] itamarhaber commented on #96
@mnunberg

These are available in err.h, not in redisai.h. Besides, the struct may change in the implementation, so a formal API to get the error is needed imo.

[2019-03-24 12:47] mnunberg commented on #96
I think for a public API it’s probably best to just expose a string. I wasn’t aware we had an extension API yet :)

[2019-03-25 16:48] K-Jo commented on #82
https://github.com/RedisAI/RedisAI/blob/master/Dockerfile#L3 and https://github.com/RedisAI/RedisAI/blob/master/Dockerfile#L6
These two should help list the dependencies.  There is no such minimum requirements in the make, can you assist @hhsecond ?

[2019-03-26 10:04] hhsecond commented on #82
@K-Jo As far as we promote docker build as the primary way of setting up RedisAI (this wasn't the case when I raised the issue and I thought we should have it in the shell script), this sounds perfect. I am closing this issue then.

[2019-03-26 10:04] #82 closed

[2019-04-02 12:11] hhsecond opened #106 "RedisAI throws error when it finds len() while torch script wont."
RedisAI SCRIPTSET throws error when it finds `len()` in the script while PyTorch's torch script won't. Checking the length is a useful thing to have. Is this something we can't have without much hustle? Below is an error trace from RedisAI
[code]

[2019-04-03 13:17] lantiga commented on #106
This may have something to do with the version of `libtorch` we use. Are you sure you're using the same version on either sides?

[2019-04-09 07:06] hhsecond commented on #106
I couldn't find a difference in the version I am using. I checked the CPP source and it couldn't be anything else. Perhaps the binary `get_deps.sh` (1.0.1) is pulling is different than `pip install https://download.pytorch.org/whl/cpu/torch-1.0.1-cp37-cp37m-linux_x86_64.whl`. I'll try to reproduce it later today and verify again

[2019-04-11 11:10] mnunberg opened #108 "memory leak in queuePush"
When doing MODELRUN, queuePush leaks.. (I'm going off my memory here..)

[2019-04-11 11:17] K-Jo opened #109 "Enhanced info in AI.INFO command"
relates to #92

[2019-04-11 11:19] K-Jo commented on #91
Luca to create list of error messages

[2019-04-11 11:22] gkorland opened #110 "Support TF 2.0"

[2019-04-11 11:26] K-Jo commented on #87
@mnunberg ask input from @gkorland

[2019-04-11 11:38] K-Jo commented on #44
Moved to backlog, as for now redisgears.io could help with this

[2019-04-19 05:06] hhsecond opened #112 "MODELRUN fails to return if INPUT/OUTPUT is not passed"
Ideally Modelrun should return with an error message when it doesn't have required parameters but currently, client kept blocked. Added test cases for the same at #111

[2019-04-23 14:56] MeirShpilraien opened #113 "Remove the use of moduleRegisterApi"
Instead use the register api which was introduce in redis 5.0.4.
If the api does not exist continue without it.

[2019-04-26 12:28] lantiga commented on #113
Hi @MeirShpilraien, can you point me to an example for the right way to use the register API in other Redis modules? Thanks!

[2019-04-27 15:07] MeirShpilraien commented on #113
Actually I do not have such example yet, But I am planning to change gears and redisearch soon, I will sent you the PR's to take a look.

[2019-04-30 06:58] lantiga commented on #113
Great, thanks Meir

[2019-05-01 12:23] lantiga opened #115 "Move to PyTorch 1.1"
PyTorch 1.1.0 has been released on Apr 30. Besides keeping up to date, It has a number of improvement to Script that will be useful for RedisAI.

[2019-05-01 12:54] lantiga commented on #112
Closed by #111

[2019-05-01 12:54] #112 closed

[2019-05-03 07:55] daron1337 opened #116 "MODELRUN fails to return error in case of wrong number of outputs"
Example:
If the model expects more than one output and AI.MODELRUN is executed with only one output key, redis server logs the error but does not propagate it to the client.
The task is frozen until user manually kills it.

[code]

[2019-05-04 16:35] lantiga commented on #116
Thank you @daron1337 and @dnlcrl ! #117 should fix the issue.

[2019-05-06 09:00] MeirShpilraien commented on #113
@lantiga Pls take a look at this PR: https://github.com/RedisLabsModules/RedisGears/pull/119/files
Especially the parts that use `RedisModule_ExportSharedAPI` and `RedisModule_GetSharedAPI` , those need to be used instead of `moduleRegisterApi`.

[2019-05-09 13:43] lantiga commented on #116
Solved since #117 was merged

[2019-05-09 13:43] #116 closed

[2019-05-09 13:44] #113 closed

[2019-05-13 09:01] srijiths opened #119 "YOLO Inference takes 5 seconds on averagae"
Hi All,

I have tried YOLO inference using redisai-python client. The inference time i am getting is very high. What would be the guidelines and suggestions to make RedisAI in production.

[code]
Reproduction Steps:
Python program available at https://gist.github.com/srijiths/94b23ef3b1b3650d819dbfd917d37d28
Above program is collated from this blog https://medium.com/tensorwerk/redisai-thors-storm

[2019-05-13 12:33] hhsecond commented on #119
@srijiths The timing looks like the first time run of your model after the model is set (`MODELSET`). On the first run, the model initializing operations causes the run to be slower. Normally, in production, we set the model and only the first run on the model will be delayed. Can you try executing `MODELSET` & `SCRIPTSET` separately and then execute other parts of the code (ignore the first run t

[2019-05-13 12:49] srijiths commented on #119
@hhsecond I have separated model set and inference part. Now from 5 Sec it has been reduces to 2 Sec on average. Output below
[code]

[2019-05-13 13:47] hhsecond commented on #119
Ok, I have to check the Device thing. Do you mind sharing the latest code here? We were able to run it in less than 300ms on CPU.

[2019-05-13 14:31] srijiths commented on #119
@hhsecond code used is here in gist https://gist.github.com/srijiths/94b23ef3b1b3650d819dbfd917d37d28

[2019-05-13 16:02] srijiths commented on #119
@hhsecond I assume that below statement is costly operation. Took below statements out of the loop and made it initialize only once made significant difference. Now its coming as per your results as well. On average 300+ ms

gist updated : https://gist.github.com/srijiths/94b23ef3b1b3650d819dbfd917d37d28

[code]
[code]
Still not recognizing GPU is there. Please let me know if you found something.

[2019-05-14 05:38] hhsecond commented on #119
The spikes in the timings are still concerning. For confirming my suspicion: How did you install dependencies while building RedisAI
`bash get_deps.sh cpu` or `bash get_deps.sh` or are you using docker?

[2019-05-14 06:13] srijiths commented on #119
i am using redisai/redisai docker Sherin.

[2019-05-14 06:17] srijiths commented on #119
@hhsecond In redisai docker published in docker hub always build on CPU. See this line.
[code]
I will change this to GPU and see the results.

[2019-05-14 06:23] hhsecond commented on #119
Right, so there are two things you could do to improve performance.
1. Build with GPU
2. Build TF with optimizations on for CPU users

I'll try to push the GPU build to docker hub soon. Thanks for pointing this out.

[2019-05-14 11:28] itamarhaber commented on #106
Could this be the root cause https://github.com/pytorch/pytorch/issues/13376? Anyway, also got hit by this.

[2019-05-14 11:28] srijiths opened #120 "GPU Docker failed to start"
Hi,

I have used Dockerfile-gpu to build a GPU docker. Docker build is successful, but Redis exiting with libcuda exception.
[code]
Thank You,
Srijith

[2019-05-22 10:46] lantiga opened #122 "Cache protobuf instead of re-serializing on every RDB and AOF"

[2019-05-22 10:48] lantiga opened #123 "AI.MODELSET should run in separate thread"

[2019-05-22 10:48] lantiga opened #124 "Jupyter notebook example to ONNXRuntime"
http://onnx.ai/sklearn-onnx/auto_examples/plot_convert_model.html#sphx-glr-auto-examples-plot-convert-model-py [Small]

[2019-05-22 10:59] hhsecond opened #125 "Segfault on RDBSave if buffer is freed"
`RAI_Model_RdbSave` causes segfault while freeing buffer. This is commented in master for time being.

[2019-05-22 21:16] stockholmux opened #126 "TORCH loading documentation and/or error"
I'm attempting to load in a Torch model and I'm a little unsure of what RedisAI is expecting It doesn't seem to be documented, so I'm assuming it's the result of `torch.save`, but that doesn't seem to work.

As a test, I'm using the [AllenNLP tutorial](https://allennlp.org/tutorials) then trying to load one of the models it generates like this:

[code]

Yet it results in the following error:
[code

[2019-05-23 03:34] hhsecond commented on #126
For your current issue: You should use the binary from `torch.jit.save` instead of `torch.save`. Also, `torch.jit.save` expects you to pass a [torchscript](https://pytorch.org/docs/stable/jit.html) model.

[2019-05-23 08:34] gkorland commented on #122
@lantiga  won't it waste too much memory?

[2019-05-23 09:36] lantiga commented on #122
My concern is mainly around a model on the GPU: it doesn't make sense to me to periodically serialize it (i.e. fetch it from GPU) if it doesn't change.
To save memory we could use a tmp file and re-serialize only if it's not there, making sure the former doesn't go out of date. What do you think?

[2019-05-23 09:44] lantiga commented on #126
A complete description on how to save a JIT'ed model in PyTorch is here: https://pytorch.org/tutorials/advanced/cpp_export.html

For simple models, you can follow this:
[code]

We certainly need good documentation on how to export models from the various frameworks for GA.

Also, @hhsecond has added some support for exporting to the `redisai-py` client https://github.com/RedisAI/redisai-py/blob/ma

[2019-05-23 13:32] hhsecond opened #127 "RedisAI crashes on MODELRUN if INPUTS/OUTPUTS names are not present in the TF graph"
If by mistake user sets the model with the wrong name in the `INPUTS` / `OUTPUTS` list, RedisAI crashes on MODELRUN without proper error message.

[code]

From a UX standpoint, we should be raising an error while setting the model about the wrong data, IMO

[2019-05-23 14:49] lantiga commented on #127
We test for omission but not for this, I'll fix right away

[2019-05-23 17:36] lantiga commented on #127
Solved by #128

[2019-05-23 17:36] #127 closed

[2019-05-23 17:39] lantiga commented on #108
@mnunberg I've committed changes that should have solved a few leaks. It would be great if we could make another pass of Valgrind

[2019-05-23 17:41] lantiga commented on #125
For the records, this is due to memory being allocated using `malloc` on the `libtorch_c` side, but then freed with `RedisModule_Free` on the RedisAI side, when Redis is built with `jemalloc`.

[2019-05-23 17:49] lantiga commented on #125
Ok, tests are green again. Merged and closing

[2019-05-23 17:49] #125 closed

[2019-05-23 22:09] lantiga commented on #43
A fix has been merged, closing

[2019-05-23 22:09] #43 closed

[2019-05-23 22:10] lantiga commented on #106
This will likely be solved when #115 is done.

[2019-05-23 22:22] lantiga commented on #123
Setting a model, especially on GPU, can be time-consuming. We should avoid blocking Redis during this operation, so we should consider blocking the client, kicking off a thread just for doing the parsing and for eventually moving to GPU, then in the main thread setting the key and unblocking. The rest of Redis should stay responsive during this operation.

[2019-05-29 10:41] gkorland opened #136 "Crash on AI.MODELSET"
Calling the following:
[code]
Using
This graph: https://github.com/RedisAI/redisai-py/blob/master/test/testdata/graph.pb

Crashes the server:

[code]

[2019-05-29 11:04] lantiga commented on #136
Thank you @gkorland , it definitely shouldn't crash the server

[2019-05-29 11:07] lantiga commented on #136
Given the graph, the command should be
[code]

That said, we need to prevent the crash (it's very likely the parsing when something is missing)

[2019-05-29 11:08] gkorland commented on #136
I know the command is wrong, I was just pointing the crash

[2019-05-29 20:56] lantiga commented on #136
Very weird, I can't reproduce the problem. Are you testing on the latest master?

[2019-06-10 13:14] hhsecond commented on #124
@lantiga I assume this refers to the jupyter example for training, exporting and loading the model onto RedisAI rather than ONNXRuntime? If yes, this could be useful?
https://colab.research.google.com/drive/1OefFEa073bnggrO2AUbu83Fcof_hGA4K

[2019-06-10 16:57] lantiga commented on #124
Looks good! Can you make it a Jupyter Notebook and submit a PR? Thanks!

[2019-06-11 06:18] hhsecond commented on #124
@lantiga Done. It depends on the redisai-py ONNX PR. But for now, we are installing the package from specific github branch.

[2019-06-11 16:50] JoeCianflone opened #140 "Seg Fault"
Not exactly sure if this is an AI or Redis proper issue. If this is more Redis than the module let me know and I'll open up the issue somewhere else...it could also be me! Trying to run an example and when I run `node` it starts to build the model then Redis seg faults. Here's the dump, let me know what other info you need and I'll send it along!

[code]

[2019-06-11 18:19] hhsecond commented on #140
@JoeCianflone Does this happen always to you? Which example are you trying to run? Anyway, I could try the same? I am assuming it's a Redis issue (not necessarily an issue, something up with your config. Please don't jump into any conclusion, I could be wrong), but would like to give it a shot

[2019-06-11 21:04] lantiga commented on #108
We have been monitoring running instances and leaks seem to be gone. Closing for now, feel free to reopen.

[2019-06-11 21:04] #108 closed

[2019-06-11 21:31] lantiga commented on #140
From the looks of it, an error is generated while running the model; since models are invoked in a separate thread while the client is blocked, errors need to be propagated back to the client once it's unblocked. The RunReply function should do that, but it finds a NULL error string or something, hence the crash. So it's in our ballpark. Checking now.

[2019-06-11 21:34] lantiga commented on #140
I bet this is the offending line: https://github.com/RedisAI/RedisAI/blob/master/src/redisai.c#L651

[2019-06-11 21:50] lantiga commented on #140
@JoeCianflone as @hhsecond suggested, can you share your setup so we can try to reproduce? Thanks!

[2019-06-11 22:03] lantiga commented on #136
@gkorland can you confirm this is still happening with the latest `master`? I need a way to reproduce.

[2019-06-11 22:05] lantiga commented on #119
@hhsecond what needs to be done to finally close this?

[2019-06-11 23:05] lantiga commented on #120
Sorry @srijiths for the late feedback. Did you run this with `nvidia-docker`?

[2019-06-12 06:33] srijiths commented on #120
@lantiga Executed this command. nvidia-docker run -it redisai/redisai:gpu

In Dockerfile-gpu FROM changed to nvidia/cuda:10.0-cudnn7-devel-ubuntu16.04 as i have Cuda 10.0.
Please find the docker build log here. [https://gist.github.com/srijiths/3db165c51ff2d6a5130958e5c73489d9](url) . Towards the end of the log , doubtful about below statements.
[code]

Even i have tried with nvidia/cuda:9.0-cudnn

[2019-06-12 07:35] hhsecond commented on #106
This is fixed with #141

[2019-06-12 07:35] #106 closed

[2019-06-12 09:33] hhsecond commented on #126
Continuing this and #139, I have a plan to make a set of tutorial documentation at https://oss.redislabs.com/redisai/.
These are the heads I am planning to cover. What do you think? @lantiga

- Setting up RedisAI
- Exporting graphs from different frameworks and importing that to RedisAI
- PyTorch example
- Tensorflow example
- MxNet/PyTorch/Tensorflow -> ONNX example
- ScikitLearn example
- Sentin

[2019-06-12 10:28] lantiga commented on #126
I was also thinking something on these lines. Absolutely, by all means feel free to move ahead with this.

[2019-06-13 09:55] #115 closed

[2019-06-13 09:56] #33 closed

[2019-06-13 20:51] lantiga opened #144 "Add XGBoost"
We should consider adding https://github.com/dmlc/xgboost as a backend, since it sports a C API (https://github.com/dmlc/xgboost/blob/master/include/xgboost/c_api.h).

[2019-06-20 10:46] lantiga commented on #144
Closing as this is already covered using https://github.com/onnx/onnxmltools/tree/master/onnxmltools/convert and the ONNXRuntime backend

[2019-06-20 10:46] #144 closed

[2019-06-21 09:39] K-Jo opened #147 "Clean up Examples folders"

[2019-06-22 08:22] bckien commented on #136
I also had the same problem when doing the example:
**python3 ./run_yolo.py ../img/panda.jpg**

[2019-06-22 17:04] hhsecond commented on #136
@bckien Could you confirm
- Which version of RedisAI are you using?
- Is it a docker container or you built it from the source?
- I am assuming it's on CPU?

[2019-06-22 17:20] bckien commented on #136
I built it based on Dockerfile in _master_ branch and tried other versions on docker hub but it still happened.
And yes, I am using it on CPU.

[2019-06-22 18:20] hhsecond commented on #136
Can you confirm the master on your old laptop is updated to the latest commit, please? Because I remember we actually had this issue a while ago and then that was fixed. It must a different issue in this case, but just to make sure.

[2019-06-22 18:33] bckien commented on #136
Yes, I just pull  the latest commit and rebuild. It is not crashing, it is an AI.MODELSET command 's error.

It just happen when I using the command:
_redis-cli -x AI.MODELSET foo TF CPU INPUTS a b OUTPUTS c < examples/models/graph.pb_
or this command in python
_r.execute_command('AI.MODELSET', 'yolo', 'TF', 'CPU', 'INPUTS', 'input', 'OUTPUTS', 'output', blob)_

Exeception: redis.exceptions.Respon

[2019-06-22 19:12] hhsecond commented on #136
Ok, that's relieving. We don't have a crash issue.
For your "invalid graph def" error: the graphs are saved in git lfs and when you pull with git pull you only get the link to this lfs object. You must do a `git-lfs pull` also to get the graph. So currently you are passing the git-lfs link to RedisAI instead of the actual graph which is indeed invalid.

[2019-06-26 09:05] hhsecond opened #150 "Capability of setting INPUT & OUTPUT while `MODELSET` for ONNX backend"
Since ONNXRuntime allows us to pass the INPUT & OUTPUT names into the session and some of the spark models require us to pass the names. We'll need to support this ability as well.

[2019-06-27 07:34] hhsecond opened #151 "Segfault with ONNXRuntime (SparkML)"
RedisAI crashes on [this](https://github.com/RedisAI/redisai-examples/blob/cleanup/python_client/spark_decisiontree.py) example. The crash is happening on `OrtRun` but couldn't verify why yet. It's a model built with SparkML pipeline which could be a reason. Model creation can be found [here](https://github.com/RedisAI/redisai-examples/tree/cleanup/models/spark/decisiontree_with_pipeline).
PS: The

[2019-06-28 08:31] hhsecond opened #152 "Descriptive error messages"
Error messages could divulge more information such as the expected number of outputs in case the number of input passed by the user is wrong. For this case, RedisAI now says `ERR: Unexpected number of outputs for graph`. But there could be other cases as well. I can take this up something next week.

[2019-06-28 11:50] lantiga commented on #136
Closing for inactivity, feel free to reopen

[2019-06-28 11:50] #136 closed

[2019-06-28 11:51] #124 closed

[2019-06-28 11:52] lantiga commented on #122
Maybe give the option to use cache or re-serialize

[2019-06-28 11:55] lantiga commented on #119
Dependent on activity in #120. Roadmap is to run all tests on GPU on CI.

[2019-06-28 11:57] lantiga commented on #109
This probably refers to model-related metrics, but closing for now as it looks confusing. We'll get back to this after `AI.INFO` is done.

[2019-06-28 11:57] #109 closed

[2019-06-28 11:59] lantiga commented on #91
Errors are now propagated back from the backend to the client.

[2019-06-28 11:59] #91 closed

[2019-06-28 12:00] lantiga commented on #87
We could start with ONNXRuntime first and then maybe extend. In any case it only makes sense for CPU runs.

[2019-06-30 18:12] hhsecond opened #154 "Tests on GPU"
- Verify and write GPU test cases
- Figure out GPU execution on CI

[2019-07-02 11:04] hhsecond commented on #147
This has been addressed in #153

[2019-07-02 16:34] hhsecond commented on #147
Closing issue since #153 is merged. Feel free to reopen if you think there is more to be done.

[2019-07-02 16:34] #147 closed

[2019-07-02 16:46] hhsecond opened #155 "RedisAI doesn't throw error/warning if user tries to set GPU when GPU is not available"
Other than PyTorch, none of the backends throws an error or a warning if the user tries to set the model with GPU when GPU is not available. There are #TODOs in the source to fix this already. Keeping the issue open to track it for the GA perhaps, because it could cause serious skepticism in certain situations.

[2019-07-04 20:41] lantiga opened #156 "Integrate with MLFlow and KubeFlow kfserving"

[2019-07-10 11:13] K-Jo opened #158 "Add AI.MODELDEL and AI.SCRIPTDEL"
`AI.MODELDEL model_key`
`AI.SCRIPTDEL model_key`

[2019-07-16 07:09] hhsecond commented on #36
@lantiga @K-Jo What do you think the best way of distributing Docker images in this case. We can definitely support docker images for each backend separately but we should support a single image with all the backends as well (we can let the user load it dynamically but we probably need to install all the required CUDA versions beforehand).

[2019-07-16 07:12] lantiga commented on #36
@hhsecond Good point. I think having different container images for each backend is a bit overkill and in any case it could limit what users can do (the PyTorch backend is needed for SCRIPT, etc).
I'd rather build at most 3 images:
- all CPU
- TF GPU, TORCH GPU, ONNX CPU
- all GPU (with CUDA 9.0 + 9.1)

[2019-07-16 07:23] lantiga commented on #36
/cc @hhsecond @gkorland @K-Jo I've got dynamic loading implemented. I just have an issue with jemalloc that I'll likely need help with.

[2019-07-16 09:47] gkorland commented on #36
@mnunberg @MeirShpilraien can you please see if you can help

[2019-07-16 14:19] lantiga commented on #36
FYI, @MeirShpilraien helped me and the issue is now solved.

[2019-07-16 19:38] andresrinivasan commented on #36
When we add TPU and AMD GPU would that go in #2 and #3?

[2019-07-17 21:11] lantiga commented on #36
@andresrinivasan these would be specific enough to warrant separate containers IMHO

[2019-07-18 08:43] MeirShpilraien opened #160 "AI.MODELRUN and AI.SCRIPTRUN are not declaring keys properly"
The only declared key is the model/script (and not the tensors). Also there is not early exit in the code to not actually execute the command:
[code]

[2019-07-18 10:50] lantiga commented on #160
Addressed by #161, closing

[2019-07-18 10:50] #160 closed

[2019-07-23 08:32] haiyang-tju opened #164 "Why it always report "ERR: GPU requested but CUDA not available""
I have a GPU, my code runs ok, and it print "Info: cuda is available, run on gpu":
[code]

I build RedisAI normally, with "DEPS_DIRECTORY=deps bash ./get_deps.sh".

But when I use the redisai-examples from backend pytorch, code like that:
[code]
the last line will throw the exception `redis.exceptions.ResponseError: GPU requested but CUDA not available`, and the redis print an error message.

[cod

[2019-07-24 21:25] jonaskuiler opened #165 "Update README to match examples folder"
The README currently has an incorrect path since the example data is moved in  #147. I will make a pull-request to make the script use the right path.

[2019-07-25 07:59] lantiga commented on #164
Hi @haiyang-tju, thanks for your patience.

A few questions to start:
- do other backends (like TF) work on the GPU?
- what CUDA version do you have on your system? It may be a CUDA version mismatch related to the binaries.

One way to find out may be if you link your libtorch C++ code to the same libtorch as contained in the `deps` directory, and make sure that you link to them (and not to other

[2019-07-25 08:53] haiyang-tju commented on #164
I removed the other backends and only left libtorch. Some configurations are as follows:
- OS: jetson nano l4t, jetpack 4.2.1
- CUDA version is 10.0, and with cudnn7.3.1
- Docker version 18.09.2, build 6247962
- libtorch-1.2.0a0 compiled with the same version of cuda and cudnn

I modified the `get_deps.sh` and all lib files are compiled by my own by docker.  I successfully compiled the entire modu

[2019-07-25 09:15] lantiga commented on #164
Se you're going on the Jetson. That's cool!

Is it possible for you to try out CUDA 9.0? This is what we test on.

[2019-07-25 09:26] haiyang-tju commented on #164
It may be a limitation of Docker on jetson. I repeated it on the host and the GPU access are normal.

What I am puzzled about now is that the same code snippet execution of two programs in the same container has different results.

I made corresponding changes to the source code of RedisAI. And at this moment, everything goes ok.

A small suggestion, it is best to make a configuration switch for d

[2019-07-25 10:05] lantiga commented on #164
Great, thanks for the feedback.
We have a PR about to be merged in which backends will be loadable dynamically. So you can specify them from the command line or through a CONFIG LOADBACKEND command, passing the backend type and the location of the backend library (eg redisai_onnxruntime.so).
You can of course load one or more than one, in any CPU/GPU combination.

[2019-07-25 21:25] #165 closed

[2019-07-25 22:03] lantiga commented on #164
@haiyang-tju Before we close this, would you be willing to share your experience with the Jetson? We are working at an `arm64` branch, so this getting information on how you got this working, roadblocks etc, would be quite useful for us. Thanks!

[2019-07-26 01:11] haiyang-tju commented on #164
OK. There are not too many special steps. According to the steps in the [Dockerfile](https://github.com/RedisAI/RedisAI/blob/master/Dockerfile), and switched the corresponding ARM files.

The steps are roughly as follows:
- 1 Configure your jetson system. It is recommended to use sdkmanager to install the jetson system, so that you can choose to install the corresponding components.
- 2 Built your

[2019-07-26 07:18] K-Jo commented on #164
@rafie

[2019-07-28 14:20] lantiga commented on #158
Solved by #163

[2019-07-28 14:20] #158 closed

[2019-07-28 23:11] K-Jo opened #168 "Document convertors"
https://github.com/hhsecond/mlut

[2019-07-29 08:51] lantiga commented on #36
Closed by #159

[2019-07-29 08:51] #36 closed

[2019-07-29 08:51] lantiga commented on #36
Let's keep the comments in mind for packaging

[2019-07-29 08:52] lantiga commented on #47
Closed by #159

[2019-07-29 08:52] #47 closed

[2019-07-31 07:02] #164 closed

[2019-08-02 05:44] pythoner opened #171 "crash on AI.CONFIG LOADBACKEND TORCH"
the issue is described  [here](https://github.com/RedisGears/EdgeRealtimeVideoAnalytics/issues/8)

[2019-08-02 13:46] lantiga commented on #171
Thanks for the report @pythoner

[2019-08-02 14:01] lantiga commented on #171
From pytorch/pytorch#21627, installing `gcc4.9.2` should fix the issue.

[2019-08-04 15:07] lantiga opened #172 "Load default backends lazily"
In the initial design of dynamic loading of backends, RedisAI would return an error to the client if the user tried to load a model for which a backend was not loaded.

Apart from probably not being beginner-friendly, this posed an issue when loading an RDB file, since Redis would refuse to start unless the right backends were loaded as command-line arguments.

To circumvent this issue, we will ha

[2019-08-04 20:09] K-Jo commented on #172
@lantiga let's track here the work for the ramp file as well

[2019-08-05 06:01] pythoner commented on #171
Load torch backend successfully using gcc 4.9.2

[2019-08-05 06:01] #171 closed

[2019-08-12 13:27] hhsecond opened #175 "Consistency across modelset and modelget API"
`MODELSET` expects string representation of `BACKEND` and `DEVICE` while `MODELGET` returns their integer representation.

[2019-08-15 06:03] lantiga commented on #175
#178 addresses this /cc @hhsecond @shreyanair01

[2019-08-15 06:03] lantiga opened #179 "Support ONNXRuntime 0.5"

[2019-08-15 06:13] lantiga opened #181 "Bump all backends to CUDA 10"
After merging #179, we will be able to move all backends to CUDA 10.

Specifically we will:
- bump libtensorflow to 1.14 (https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-gpu-linux-x86_64-1.14.0.tar.gz)
- bump libtorch to 1.2 (https://download.pytorch.org/libtorch/nightly/cu100/libtorch-shared-with-deps-latest.zip)

[2019-08-15 06:15] lantiga commented on #172
@K-Jo just for consistency, can we close this and eventually track the RAMP work in a separate issue?

[2019-08-15 06:28] lantiga commented on #151
I could reproduce, just FYI I get this warning

[2019-08-15 08:00] K-Jo commented on #172
I think it's done @rafie ? otherwise yes

[2019-08-15 08:41] lantiga commented on #175
Merged, closing. Thanks!

[2019-08-15 08:41] #175 closed

[2019-08-16 14:04] #179 closed

[2019-08-18 12:48] #172 closed

[2019-08-18 13:36] hhsecond commented on #181
Just FYI: TF will have 1.15 out by this week

[2019-08-18 13:38] lantiga commented on #181
Doh! :-) Thank you @hhsecond, I hope it won't depend on CUDA 10.1 or we're back to square 1...

I would go ahead with this PR for now, and evaluate 1.15 in a week. The switch from 1.12 to 1.14 was very smooth for us, hopefully it will be the same. The only show stopper (at least for the moment) would be a requirement for CUDA 10.1.

[2019-08-19 03:38] hhsecond commented on #181
Let's merge this for sure. IMO 1.15 will not be a major upgrade and will be with the current cuda. Also, the release could get delayed for another week or so.

[2019-08-19 07:46] #181 closed

[2019-08-19 09:06] K-Jo opened #183 "Sandbox backends"
Mainly Tensorflow (?) but other backends might need investigation as well, restricting I/O access.

[2019-08-19 09:07] K-Jo opened #184 "Timeout on MODELRUN and SCRIPTRUN commands"
Both commands should have a limited execution time that is configurable at module level.

[2019-08-19 13:16] lantiga commented on #183
@K-Jo for GA?

[2019-08-19 13:31] lantiga commented on #184
Design: have a watchdog thread that kills computing threads running for too long.
We will need:
- to move SCRIPTRUN in a compute thread (right now it's in the main thread, but the plan was to move anyway)
- create watchdog thread that keeps track of time
- figure out how we clean things up when we forcibly terminate the thread with `pthread_cancel` using `pthread_cleanup_push`, so that there are n

[2019-08-19 13:32] lantiga opened #185 "Add mem_usage function for tensors, models, scripts"
Since backends manage memory outside of the Redis allocator, we should evaluate how to report memory allocation for each backend.

[2019-08-19 13:36] lantiga commented on #185
The `Small` label is for Tensors

[2019-08-20 12:40] habichta commented on #110
Wanted to ask how this is coming along. I'm struggling loading a TF 2.0 .pb   when using tf.saved_models.save() to create it.

[2019-08-20 15:27] K-Jo commented on #183
@lantiga can we do a preliminary investigation on how much work this is before we decide?  We can GA with recommendations.

[2019-08-22 12:16] lantiga commented on #183
The bottomline is that we need to exclude `io_ops` (see https://www.tensorflow.org/api_docs/cc/group/io-ops) upon importing in `MODELSET`, or (maybe simpler for now) return an error from `MODELSET` if the graph contains any `io_op`.

ONNXRuntime and PyTorch (TorchScript included) do not support IO in the graph, they only deal with transformations of tensors, so there's no need to sandbox.

[2019-08-26 06:00] hhsecond opened #187 "Consistency across scriptset and scriptget API"
Similar to MODELSET/MODELSET API, script also needs to keep the consistency.

[2019-08-26 08:17] #187 closed

[2019-08-27 10:10] lantiga commented on #71
Solved by #186

[2019-08-27 10:10] #71 closed

[2019-08-28 07:49] hhsecond commented on #119
@srijiths There were a lot of improvements made to the core in the past weeks/months. With all those, I couldn't reproduce this issue anymore. On an RTX 2070, I could get 0.025 to 0.08 seconds for each 'modelrun' (timed from python, so it includes the roundtrip time between client & RedisAI as well). I am going to close this issue for now.
Also, We have the GPU RedisAI containerized with docker re

[2019-08-28 07:49] #119 closed

[2019-08-28 07:50] hhsecond commented on #120
#189 is merged to master

[2019-08-28 07:50] #120 closed

[2019-09-01 17:41] #14 closed

[2019-09-02 14:59] filipecosta90 opened #197 "redis-server crashes running RM_GetThreadSafeContext within RedisAI_RunSession"
while running commands on RedisAI Module and forcing client disconnects up to 0 connected clients, redis-server crashes running RM_GetThreadSafeContext within RedisAI_RunSession.
bellow there is the bug report.
Using the redisai/redisai:edge docker image.

[code]

[2019-09-03 14:08] lantiga commented on #197
Thank you @filipecosta90, I'll send in a PR asap

[2019-09-03 14:17] Akhtar303 opened #198 "Tensorflow Module not loaded"
Thanks for your RedisAI implementation
I am facing this issue
Module  /home/akhtar/Desktop/streaming/EdgeRealtimeVideoAnalytics/RedisAI/build/redisai_tensorflow.so does not export RedisModule_OnLoad() symbol. Module not loaded.

same issue for redisai_tensorflow and redisai_torch

Thanks

[2019-09-03 14:49] lantiga commented on #198
Hi @Akhtar303, you shouldn't load `redisai_tensorflow.so` as a Redis module, these are instead RedisAI backends (they expose a different ABI).

Just load `redisai.so` as a module, RedisAI will load the backend on demand as appropriate when you call `MODELSET`.
You can also pre-load a backend using, e.g. `AI.CONFIG LOADBACKEND TF redisai_tensorflow/redisai_tensorflow.so`, or at the command-line

[c

[2019-09-03 14:49] #198 closed

[2019-09-03 18:37] Akhtar303 commented on #198
Thanks @lantiga for your Immediate reply.
when I Just load redisai.so as a module RedisAI will not load the backend,  when  I call MODELSET
i.e
res = conn.execute_command('AI.MODELSET', 'yolo:model', 'TF', args.device, 'INPUTS', 'input', 'OUTPUTS', 'output', model)

Error
redis.exceptions.ResponseError: ERR: could not load backend
 I am working on RedisGears/EdgeRealtimeVideoAnalytics this repo
Li

[2019-09-03 19:07] lantiga commented on #198
Hi @Akhtar303,
can you describe how you built RedisAI. It is very important to run the `make install` step after `make`. This will generate an `install-cpu` or `install-gpu` directory inside the RedisAI directory, which contains redisai.so and the backends, with the correct dependencies in place.

You should `loadmodule` the `redisai.so` inside the install directory. If this solves things for you,

[2019-09-03 19:14] Akhtar303 commented on #198
Thanks for your reply I am following these for build

bash get_deps.sh cpu

Once the dependencies are downloaded, build the module itself. Note that
CMake 3.0 or higher is required.

mkdir buildcd build
cmake ..
make && make installcd ..

On Wed, Sep 4, 2019, 12:07 AM Luca Antiga <notifications@github.com> wrote:

[2019-09-03 19:18] lantiga commented on #198
Can you check that there’s an `install-cpu` directory in the RedisAI directory?
If so, you can start `redis-server` using the `redisai.so` module inside `install-cpu`. If you do that, the default backend should load automatically.

[2019-09-03 19:54] KNCal opened #201 "Redis server crash running tensorflow_imagenet.go code from redisai-examples"
67176:M 01 Sep 2019 20:56:09.595 # Redis 5.0.5 crashed by signal: 11
67176:M 01 Sep 2019 20:56:09.595 # Crashed running the instruction at: 0x105eb7e42
67176:M 01 Sep 2019 20:56:09.595 # Accessing address: 0x0
67176:M 01 Sep 2019 20:56:09.595 # Failed assertion: <no assertion failed> (<no file>:0)

------ STACK TRACE ------
EIP:
0   redis-server                        0x0000000105eb7e42 RM_GetThre

[2019-09-03 20:10] Akhtar303 commented on #198
Thanks alot @lantiga  Issue has resolved with install-cpu.

[2019-09-03 20:56] lantiga commented on #201
Hi @KNCal, thanks for the bug report. Can you try with the current `master`? Thanks

[2019-09-03 20:57] #197 closed

[2019-09-04 16:32] KNCal commented on #201
@lantiga, it works now. Thank you!

[2019-09-04 16:32] #201 closed

[2019-09-05 06:35] hhsecond opened #203 "RedisAI needs to manage the number of background threads for backends"
Libtorch uses all the available cors (including hyperthreaded ones) which causes performance degradation.

[2019-09-05 07:08] K-Jo commented on #203
@hhsecond, can we make an abstraction layer in general between the backends and redisai to specify which resources can be used by the redis process?

[2019-09-05 11:26] hhsecond commented on #203
We could. Currently, the only libtorch has this problem though

[2019-09-05 11:42] hhsecond opened #204 "Dependency fetching script is broken"
`bash get_deps.sh gpu` triggers an error while fetching libtorch. I am assuming this URL is wrong
`https://s3.amazonaws.com/redismodules/pytorch/libtorch-cu100-linux-x86_64-1.2.0.tar.gz
`
Also `bash get_deps.sh` is not taking `gpu` as the default argument. Is that intentional?

[2019-09-05 16:38] filipecosta90 opened #205 "redis-server crash at RedisAI queuePush while on AI.MODELRUN ..."
redis-server crash at RedisAI queuePush while on AI.MODELRUN ...

infrastructure/OS details:
OS Ubuntu 18.04
[code]
Kernel
[code]
Infra
[code]

Crash file:

[code]

[2019-09-06 17:03] filipecosta90 commented on #205
tested against  brach prior-mq wich has commits up to (AI.MODELSET example TF would use a .pb file (#190) + perf improvement on RedisAI_Run_ThreadMain) and the crash does not happen @lantiga:
commit history of that branch:
[code]

[2019-09-06 18:10] filipecosta90 opened #206 "RedisAI_ModelRun_RedisCommand memory leak"
we don't free the queueItem after RedisAI_RunSession.

valgrind command ( within redis dir ):

[code]
excerpt of Leak report:
[code]

[2019-09-06 19:27] #206 closed

[2019-09-06 19:28] lantiga commented on #204
cc @rafie

[2019-09-07 19:52] filipecosta90 opened #208 "RedisAI_ModelRun_RedisCommand RedisAI_RunInfo *rinfo memory leak"
we don't free the RedisAI_RunInfo *rinfo  after RedisAI_ModelRun_RedisCommand.

**valgrind command within redis root dir**
[code]

excerpt of Leak report:

[code]

location in code
redisai.c:962
[code]

[2019-09-07 23:12] filipecosta90 opened #209 "RAI_ModelRunTF memory leak when TF_SessionRun status != TF_OK due to unfreed error message"
After running 10010 inferences that were intended to return error on TF_SessionRun on model run ( passing all prior verifications ( key exists, etc... ) ) we can verify that there is a leak  (780,780 bytes) that comes from ```RM_Strdup```.
Example forced error ( incorrect input dimension ):
[code]
excerpt of Leak report:

[code]

[2019-09-08 17:02] #209 closed

[2019-09-10 10:22] filipecosta90 opened #213 "AI.TENSORSET ( RedisAI_TensorSet_RedisCommand ), unnecessary work on existing wrong Key Type"
When issuing AI.TENSORSET on an existing key with wrong key type, we only do the verification after all allocations and memory setting all the values ( to then delete them afterwards ).
We should verify on the beginning of RedisAI_TensorSet_RedisCommand if the key exists and has the correct type prior than doing extra unnecessary work.

[2019-09-10 13:06] filipecosta90 opened #214 "AI.TENSORSET ( RedisAI_TensorSet_RedisCommand ),unnecessarily initializing the RAI_Tensor data allocated memory to zero on command with VALUES and BLOB"
AI.TENSORSET ( RedisAI_TensorSet_RedisCommand ) is unnecessarily initializing the RAI_Tensor data allocated memory to zero when issuing the command with VALUES and BLOB.

If we issue the command without VALUES and BLOB options we should initialize the RAI_Tensor .data allocated memory to zero, like:
[code]

If we issue the command with VALUES or BLOB, like:
[code]
we should not initialize the RAI_

[2019-09-10 13:21] filipecosta90 opened #215 "CMAKE_BUILD_TYPE defaults to an empty string and no optimization flags are used."
CMake has several default build types, but if nothing is specified when configuring the project it defaults to an empty string and no optimization flags are used.

from our master branch, when issuing
[code]
A sample output of redisai.c compilation ( make VERBOSE=1)
[code]

if when issue:
[code]
A sample output of redisai.c compilation ( make VERBOSE=1) - please denote the correct standard release

[2019-09-11 11:41] K-Jo opened #219 "Document the overhead of AI.TENSORGET and AI.TENSORSET with the optional arg VALUES"

[2019-09-13 08:17] filipecosta90 opened #221 "Document the intermediate tensors memory overhead when issuing AI.MODELRUN and AI.SCRIPTRUN"
cc @lantiga
The execution of models will generate intermediate tensors that are not allocated by the Redis allocator, but by whatever allocator is used in the backends (which may act on main memory or GPU memory, depending on the device), thus not being limited by maxmemory settings on Redis.

[2019-09-17 12:42] #152 closed

[2019-09-17 12:44] hhsecond commented on #155
ONNXRuntime still needs to do this check dynamically but since the dynamic allocation of CUDA is decided to do in the future, this chek can also be implemented then

[2019-09-17 12:47] lantiga commented on #155
I think since we can load backends dynamically and we can build ONNXRuntime with multiple backends (CPU, GPU, TensorRT, OpenVINO, etc), we can eventually leave the dynamicity for when the user chooses what backend to load, rather than within ONNXRuntime.

[2019-09-17 12:48] lantiga commented on #155
We can have several ONNXRuntime backends, one per executor. This way they'll also be smaller and with fewer dependencies.

[2019-09-17 12:51] hhsecond commented on #155
Make sense. In that case, I should leave this issue opened since the CUDA check won't happen for ORT if the default installation is CPU

[2019-09-17 12:52] lantiga commented on #155
Are you saying that if ORT is built for CPU and you request GPU we won't return an error, right?

[2019-09-17 13:05] hhsecond commented on #155
No, if ORT is built with CPU, then we will return an error if user request for a GPU execution.

But if RedisAI is built without DEVICE var (or DEVICE=cpu) it throws an error if user request GPU even if the loaded ORT backend is running on GPU. We have problem for the other case as well -  RedisAI is built for GPU and loaded ORT backend is CPU only

 https://github.com/RedisAI/RedisAI/blob/19d15c4

[2019-09-17 13:12] lantiga commented on #155
Say we have two ORT backends, like `redisai_onnxruntime_cpu.so` and `redisai_onnxruntime_gpu.so`
- the moment we load `redisai_onnxruntime_gpu.so` it will throw an error if there's no GPU or CUDA on the machine
- if we load `redisai_onnxruntime_cpu.so` and request GPU, it returns an error (which is correct)

In other words, it doesn't really matter how you build `redisai.so`, only the backends cou

[2019-09-17 14:19] hhsecond commented on #155
Thanks for the clarification. Closing the issue

[2019-09-17 15:12] #155 closed

[2019-09-17 16:54] lantiga commented on #205
Should have been hot-fixed by 04759c46

[2019-09-18 11:36] filipecosta90 opened #222 "redis-server enters an unresponsive state while running inference workflow"
Considering we run RedisAI via
[code]
And we do the following steps:
## 0.1 )getting the dataset

[code]

## 0.2 )loading the model to redis-server
[code]

## 0.3 )loading the reference data
[code]

## 1 ) running the inference ( UNRESPONSIVE )
[code]

[2019-09-18 12:18] filipecosta90 commented on #222
[code]

@lantiga @MeirShpilraien it seems that our RedisAI_Run_ThreadMain is waiting on mutex 0x55a7572e7ca0 and RedisAI_ModelRun_RedisCommand is waiting on 0x7ffda10b08d0.
I'll try one mutex approach

[2019-09-18 13:45] filipecosta90 commented on #222
a quick note:
to use gdb on redisai container I needed to run it in the following manner:
[code]

[2019-09-20 08:32] emzeperix opened #225 "Cannot load TF backend on ARMv7"
Hi!

I'm experiencing the following issue on a raspbian 10 & armv7:

log of the server:
`1:M 19 Sep 2019 12:27:50.513 # WARNING: The TCP backlog setting of 511 cannot be enforced because /proc/sys/net/core/somaxconn is set to the lower value of 128.
1:M 19 Sep 2019 12:27:50.513 # Server initialized
1:M 19 Sep 2019 12:27:50.513 # WARNING overcommit_memory is set to 0! Background save may fail under

[2019-09-20 16:22] #222 closed

[2019-09-20 17:58] filipecosta90 opened #226 "AI.TENSORSET takes more time to run than AI.MODELRUN on a full aibench Inference Flow"
Local values but the percentage per Full RedisAI Inference Flow is deterministic across deployments.

Full RedisAI Inference Flow |   |  
-- | -- | --
Command | Average usec per call ( master ) | % RedisAI workflow
AI.TENSORSET ... BLOB | 4.99 | 43.09%
AI.MODELRUN | 4.59 | 39.64%
AI.TENSORGET ... BLOB | 2 | 17.27%
Total | 11.58 | 100.00%

[2019-09-20 20:43] lantiga commented on #225
/cc @rafie

[2019-09-22 12:19] #205 closed

[2019-09-24 12:59] hhsecond opened #228 "ORT does not like deviceid=-1 for CUDA backend"
`OrtSessionOptionsAppendExecutionProvider_CUDA` throws **invalid device ordinal** error if `deviceid` is equal to -1. Since our `parseDeviceStr` always set `deviceid=-1` if device ID is not explicitly specified by the user, ORT GPU execution always breaks with this error

[2019-09-24 13:38] lantiga commented on #228
Hi @hhsecond, absolutely, I was convinced this was already the case.

[2019-09-24 13:38] lantiga commented on #228
Merged #229

[2019-09-24 13:50] #228 closed

[2019-09-29 03:29] mjnovice opened #231 "Unable to build redisAI torch on arm64 device"
I tried running `docker build -t Dockerfile` by chaning the architecture to arm64v8.

I got the following output:

[code]
Could someone help ?

[2019-10-02 11:49] filipecosta90 opened #233 "Document THREADS_PER_QUEUE feature"
as discussed.
Lets wait for the new benchmark values to get this in-place.
cc/ @lantiga @gkorland @K-Jo

[2019-10-30 13:32] lantiga opened #236 "Support ONNXRuntime 1.0"
Release notes are here: https://github.com/microsoft/onnxruntime/releases/tag/v1.0.0

[2019-10-30 20:16] lantiga commented on #92
Use Redis module INFO API
[code]

[2019-11-05 04:27] filipecosta90 opened #240 "verbose logging of "Run took %fms" is causing performance impact on the default configuration and a bad user experience on docker"
If running RedisAI for the first time, or with a verbose log level ( default on RedisAI image (( non containerized redis default is notice )))
[code]
we receive an enormous amount of logs, as seen on the example bellow. Considering that the information of backend inference duration will be very important in the future, we should not remove the calculation but adjust the log level in accordance or

[2019-11-05 14:10] lantiga commented on #240
@filipecosta90 Thank you. I was actually looking into the AI info API for modules, it looks like it will fit our bill. This would allow us to just use the `INFO` command to log execution times, avoiding `AI.INFO`, which has some advantages for integrations that already use the `INFO` command.

[2019-11-10 07:26] habichta opened #245 "Append-Only Support for RedisAI"
Is there any progress concerning Append-Only Support for RedisAI?
Right now we just use (excessive) RDB  (is there a better Strategy?)

[2019-11-12 11:20] lantiga commented on #245
Hi @habichta, we will start supporting AOF after the next Redis release (see #157).

[2019-11-12 11:22] lantiga commented on #245
BTW, what is your usage pattern? Like: how frequently you need to save, do you need to save all tensors or would you rather avoid that, etc. It is interesting to collect ideas on possible future improvements of these aspects. Thanks in advance

[2019-11-14 12:31] K-Jo commented on #236
fixed by #238

[2019-11-14 12:31] #236 closed

[2019-11-14 17:07] filipecosta90 commented on #240
looking at the model info PR on redis that is already merged ( https://github.com/antirez/redis/pull/6270 ) we will still need to keep that info within some context of RedisAI which will then be used to reported back in a new method with the following signature:
`
void InfoFunc(RedisModuleInfoCtx *ctx, int for_crash_report)
`
with that in mind I would suggest adding ( at least ) two fields two the

[2019-11-15 13:40] filipecosta90 commented on #240
solved by #248

[2019-11-15 13:40] #240 closed

[2019-11-15 18:47] filipecosta90 commented on #226
This is not a bug on RedisAI but mostly related to Redis Blocked clients time measurement. We will have to address this on Redis himself. keeping this open for reference

[2019-11-18 15:23] habichta commented on #245
Sorry for the late reply. Important to us: Mainly the models that were set. For now we also use tensors to save certain parameters that we derived during training (for scaling data before inference, or thresholds/parameters for anomaly detection). The tensors we set as inputs to the models (for inference) are not that important. With the RDB Approach, we have a lot of dumps because inference cause

[2019-11-18 22:00] lantiga commented on #245
Hi @habichta, thanks for your feedback. It's really important.
We have a `DAG` design (#88) that would solve this independently from RDB/AOF. It's in the pipe (it has been since the early days) but it won't be implemented before a few weeks time.

In the meantime we'll enable AOF asap (see my comment above).

[2019-11-18 22:51] lantiga commented on #245
One more comment @habichta. It is very likely something you thought about, but I'm going to mention it anyway: for the time being you could consider disabling `save` in `redis.conf`, and instead make explicit calls to `BGSAVE` whenever you update a model or make a change in the parameter tensors.

[2019-11-21 15:46] irthomasthomas opened #249 "Non-tensor models"
Hi
I uploaded an example of a non-tensor output model. It produces two warnings. "UserWarning: Tensor APIs are depricated and will be removed from the future release." and on the server I get "ERR: non-tensor output from ONNX models, ignoring (currently unsupported)"

When I use the redisai python client it seems to predict ok despite the error. So I then tried to do the same in gears and I manage

[2019-11-21 15:49] irthomasthomas commented on #249
Here's the error using non-tensor output, and the segfault I get when I run the model in gears.

21273:M 21 Nov 2019 15:20:25.319 # WARNING: The TCP backlog setting of 511 cannot be enforced because /proc/sys/net/core/somaxconn is set to the lower value of 128.
21273:M 21 Nov 2019 15:20:25.319 # Server initialized
21273:M 21 Nov 2019 15:20:25.319 # WARNING overcommit_memory is set to 0! Background

[2019-11-22 09:18] lantiga commented on #249
Hi @irthomasthomas,
FYI the two warnings are unrelated. The first

 "UserWarning: Tensor APIs are depricated and will be removed from the future release."

(apart from the spelling issues that I just noted /cc @hhsecond ) only indicates that you are using a deprecated API for the RedisAI Python client. Things have gotten simpler since then, you can just set NumPy arrays directly to `TENSORSET`. In

[2019-11-23 15:10] irthomasthomas commented on #249
Thank you for the info. I just tried your suggestion and it still produces
the same tesnor API UserWarning.

On Fri, 22 Nov 2019 at 09:18, Luca Antiga <notifications@github.com> wrote:

[2019-11-24 13:09] habichta commented on #245
Thanks for the tip. I'm new to RedisAI and Redis for that matter.

[2019-11-27 06:21] hhsecond commented on #249
@irthomasthomas That's an internal warning that says internally it's still using the tensor APIs. I would say don't bother about it for now and I understand how confusing that could be. So I am pushing another version of redisai-py soon with with APIs for the latest changes that came into RedisAI and will have a fix for this warning as well. I have also created another issue in redisai-py repo to

[2019-11-27 21:50] irthomasthomas commented on #249
@hhsecond
Thanks for the help. Please can you take a look again at my example, I just updated it. https://github.com/irthomasthomas/redisai-non-tensor-model

It no longer crashes but produces "ERROR: type 0 is not supported in this function" and returns NONE. Am I doing something wrong in the gears version?

Cheers

[2019-12-05 22:04] lantiga opened #253 "Add Neo backend"
https://aws.amazon.com/sagemaker/neo/
https://neo-ai-dlr.readthedocs.io/en/latest/c-api.html

[2019-12-06 08:59] #84 closed

[2019-12-06 09:00] lantiga commented on #84
Resolved by #157

[2019-12-06 09:00] lantiga commented on #245
Following up on this: #157 has been merged. We'll activate AOF tests shortly.

[2019-12-06 09:03] lantiga commented on #92
Decision is still implement `AI.INFO` and replicate the same info using the `INFO` API when Redis 6 is out.

[2019-12-06 09:14] lantiga opened #254 "Add command to set random seeds to backends"
This is important for models that retain random operations in inference (e.g. MC Dropout)

[2019-12-09 11:11] lantiga commented on #245
AOF support has been merged, closing this one.

[2019-12-09 11:11] #245 closed

[2019-12-09 11:19] lantiga commented on #83
AOF support has been merged, AOF now contains results of computations instead of commands. This way, nothing needs to be executed while loading an AOF file, so there's no need for synchronous execution. MULTI and Lua are not in scope.

[2019-12-09 11:19] #83 closed

[2019-12-10 22:43] filipecosta90 opened #256 "Return value of each RedisAI API command"
going through the documentation I find it hard not to have the Return value and description of each command. We should have the same look and feel across modules.
Example of module with the reply info on their documentation:
https://oss.redislabs.com/redisearch/Commands.html#returns

[2019-12-10 22:44] filipecosta90 opened #257 "Time complexity of each API command"
going through the documentation I find some commands with time complexity info and others without.
Example of one with time complexity info:
https://oss.redislabs.com/redistimeseries/commands/#complexity_2

Example of one without time complexity info:
https://oss.redislabs.com/redistimeseries/commands/#tsget

[2019-12-26 19:01] lantiga commented on #92
Addressing this in #259

[2019-12-29 20:09] hhsecond opened #260 "TF doesn't support old GPU devices with CC < 6.0"
This to keep a track of an issue @rafie raised while testing GPU test cases on EC2 g3s.xlarge machines with tesla M60 GPUs which has CC 5.2. TF backend of RedisAI raised below given issue
[code]

It looks like the an issue with TF core which is fixed in 1.13 - https://github.com/tensorflow/tensorflow/issues/25329

[2020-01-02 08:07] lantiga commented on #260
We are going TF 1.14 though. Shouldn't this be fixed already?

[2020-01-02 10:29] hhsecond commented on #260
Alright, then it needs more digging-in. I'll take a look

[2020-01-02 10:32] hhsecond commented on #154
Done wtih #230

[2020-01-02 10:32] #154 closed

[2020-01-06 07:13] hhsecond commented on #260
@rafie Can you point out the steps to reproduce this issue here please?

[2020-01-06 07:15] hhsecond opened #261 "Bump TF to 1.15"
1.15 being the last version (hopefully) of 1.x series, it makes sense to bump the supported TF version to that. Not sure but I assume #260 will also be fixed with this upgrade

[2020-01-30 17:07] rafie opened #266 "Multiple test failures on macOS"
When running `make -C opt test` on macOS 10.14 (for the --use-slaves and --use-aof rounds):
[code]
for the following tests, for the :
[code]

When running `make -C opt test TEST=basic_tests:test_run_script TEST_ARGS="-s"`:
[code]

[2020-01-30 18:00] rafie commented on #266
Actually, when you go `make -C test TEST=basic_tests:test_run_script GEN=1 SLAVES=0 AOF=0`, the test fails too, but RLTests fails to report it.

[2020-02-03 12:10] lantiga commented on #266
Thank you @rafie, I'll take a look today.

I'm developing on macOS 10.15. When I run
[code]
from my build directory, all tests pass. However, when I start `redis-server --loadmodule install-cpu/redisai.so` and run `make -C opt test`, I get the same (or very similar) failures. Will dig deeper.

[2020-02-03 13:15] rafie commented on #266
PS  `make -C opt test` should start its own redis-server via RLTest.

[2020-02-04 11:37] lantiga commented on #266
Hi @rafie, sorry. I was building through CMake directly and not through `make -C opt build`.

I started clean with
[code]

and all tests passed on my system (including `aof` and `slaves`).

[2020-02-04 11:37] lantiga commented on #266
I'm wondering if there are stale files somehow (in the test data or dependencies).

[2020-02-04 13:01] filipecosta90 commented on #184
@lantiga the feature is already present on RedisModuleBlockClient via timeout_callback. We just need to implement it :)

[2020-02-05 08:05] rafie commented on #266
It is possible to diagnose this on the CircleCI machine, where it fails consistently. It's possible to get a SSH connection that's kept alive for a few hours.

[2020-02-06 15:03] lantiga commented on #266
Hi @rafie, right, I did that.

I triggered a rebuild with ssh enabled (so, still from within CircleCI, not after connecting with SSH), and the build failed with
[code]

But once I then ssh'd into the machine and ran `make -C opt test`, all tests passed.

Do you have any clue? Because I don't really at the moment.

[2020-02-13 10:14] lantiga opened #268 "Add way to log non-blocking warnings originated from backends"
[code]

[2020-02-18 10:45] filipecosta90 opened #274 "memleak on RAI_ModelRunCtxAddBatch [batching PR]"
using  a no opt, malloc-libc built redis ( on redis `make valgrind` ):
and issuing the following on `memleak-fix` branch:
# start redis instance
[code]
we have:
[code]

# start client to force leak:
 (cc @hhsecond )
[code]

[2020-02-18 11:26] filipecosta90 commented on #274
up to now only one sure leak is there:
small bump on the end ( the memory of `RAI_ModelRunCtxAddBatch`'s (batch input and ouput arrays) that was not free when it should )

![image](https://user-images.githubusercontent.com/5832149/74732030-3f811f00-5241-11ea-855d-a31e55b00898.png)

[2020-02-18 13:13] filipecosta90 opened #275 "memleak on RAI_TensorCreateFromTFTensor"
same setup as #274
[code]

[2020-02-18 17:13] filipecosta90 commented on #274
after consecutive runs we that there is a small difference between the start and end :
![image](https://user-images.githubusercontent.com/5832149/74760189-f09fad80-5271-11ea-8284-6c379aed6a7b.png)

[2020-02-19 13:12] lantiga opened #278 "Add metric infrastructure"
We are looking for a way to extract metrics from a running model, with the aim of:
- selecting the samples that are most interesting, in an [active learning](https://en.wikipedia.org/wiki/Active_learning_(machine_learning)) setting
- detect if a model is degrading with the current inputs compared to some previous operation period

There are a few ways to produce metrics about a running model:
- po

[2020-02-19 21:06] filipecosta90 commented on #274
@hhsecond and @lantiga just confirmed that on master the leak on `RedisAI_ModelRun_RedisCommand` does not exist. This leak, even thought small, is added by the batching PR
master ( 3d2fff3efab827b068dc8ab0d9495152cf35ce7d )
[code]

[2020-02-19 21:07] filipecosta90 commented on #275
this is leak is potentially caused by abnormal mode runs/clients disconnected/etc... My point is this does not happen on normal behaviour. that said we need to test this further

[2020-02-20 01:39] filipecosta90 opened #279 "small memleak on RAI_ModelCreateTF"
[code]

[2020-02-20 01:42] filipecosta90 opened #280 "small memleak on RedisAI_ReplicateTensorSet"
[code]

[2020-02-20 01:50] filipecosta90 opened #281 "small memleak on RAI_ScriptCreateTorch"
[code]

[2020-02-20 06:27] longbill commented on #260
I am using tfjs-node-gpu, which uses the binary C-API release (https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-gpu-linux-x86_64-1.14.0.tar.gz)。 My GPU is Titan X, which has cuda capacity 5.2.

I got exactly the same error:

`I tensorflow/core/common_runtime/gpu/gpu_device.cc:1717] Ignoring visible gpu device (device: 0, name: GeForce GTX TITAN X, pci bus id: 0000:02:00.0, com

[2020-02-20 08:54] filipecosta90 opened #282 "redisai.c:250 datafmt, Conditional jump or move depends on uninitialised value(s). small leak as well"
[code]

[2020-02-20 09:01] filipecosta90 opened #283 "torchCompileScript memory errors"
[code]

[2020-02-20 09:04] filipecosta90 opened #284 "memleak on torchSerializeModel"
[code]

[2020-02-20 09:04] filipecosta90 opened #285 "memleak on torchLoadModel"
[code]

[2020-02-20 09:06] filipecosta90 opened #286 "RAI_ModelCreateTorch switch (device), Conditional jump or move depends on uninitialised value(s)"
commit e4f45f6268bb7a4b51d1170c28a590f6f628072e (HEAD -> coverage)
issue on
[code]
[code]

[2020-02-20 09:08] filipecosta90 opened #287 "memleak on RAI_ModelSerializeTFLite on *buffer = RedisModule_Calloc(tflitebuffer->len, sizeof(char));"
leak on
[code]

[code]

[2020-02-20 09:09] filipecosta90 opened #288 "memleak on tfliteRunModel toManagedDLPack(interpreter, tflite_outputs[i]);"
leak on
[code]

[code]

[2020-02-20 09:17] lantiga commented on #279
Fixed in #289

[2020-02-20 09:17] lantiga commented on #281
Fixed in #289

[2020-02-20 09:20] lantiga commented on #280
The first leak is fixed in #289.

The second leak is trickier. The fix would be

https://github.com/RedisAI/RedisAI/pull/289/commits/e7649d1202c876bc04ea791c5d4b2e201032e1d0#diff-0690077a8c4bfac39c6905d86c79df47R820

if AutoMemory wasn't set. In fact, including this code causes Redis to crash for attempting to deallocate twice.

This is called from the callback of a blocking command. I'm wondering

[2020-02-20 09:20] filipecosta90 opened #290 "memleak on RAI_ModelSerializeTF *buffer"
commit e4f45f6268bb7a4b51d1170c28a590f6f628072e (HEAD -> coverage)
leak on
[code]

[code]

[2020-02-20 09:22] filipecosta90 opened #291 "memleak on RedisAI_Run_Reply rstats"
commit e4f45f6268bb7a4b51d1170c28a590f6f628072e (HEAD -> coverage)
leak on
[code]
[code]

[2020-02-20 09:25] lantiga commented on #290
Fixed in #289

[2020-02-20 09:27] lantiga commented on #287
Solved in #289 (see 800695d)

[2020-02-20 09:30] filipecosta90 opened #292 "memleak on RAI_ScriptRunCtxCreate RAI_ScriptRunCtx* sctx = RedisModule_Calloc(1, sizeof(*sctx));"
leak on
[code]

[code]

[2020-02-20 09:33] filipecosta90 opened #293 "memleak on RAI_ModelSerializeORT RAI_ONNXBuffer* onnxbuffer = (RAI_ONNXBuffer*)model->data;"
leak on
[code]

[code]

[2020-02-20 09:34] lantiga commented on #282
Fixed in #289 (see 25dabd7 and 47d81b9)

[2020-02-20 09:36] lantiga commented on #286
Fixed in #289 (see 47f7219)

[2020-02-20 09:45] lantiga commented on #283
@filipecosta90 can you look into the first memory errors? I can't see anything wrong with it.

What's happening is that the RedisAI backend loads a C++ library (libtorch_c), which is compiled using a standard allocator (not zmalloc or whatever Redis is built with) dynamically.
Since I need to return an error string that will then be deallocated by Redis itself, what I do is pass the allocator as p

[2020-02-20 09:49] lantiga commented on #284
Fixed in #289 (see 99b82c1)

[2020-02-20 10:06] lantiga commented on #293
Solved in #289 (see 99b82c1)

[2020-02-20 10:10] lantiga commented on #292
Fixed in #289 (see caa8cab)

[2020-02-20 10:17] lantiga commented on #291
Not sure this is an actual leak. `rstats` will survive indefinitely until a) Redis is terminated or b) the model is `DEL`'d. In the tests we never call `DEL`, maybe we should?

[2020-02-20 10:21] lantiga commented on #285
Here we return the memory allocated from within the `libtorch_c` library as an opaque pointer, and then deallocate it by calling into `libtorch_c` when the model is `DEL`'d. However we don't call `MODELDEL` in tests. At this point we probably should, what do you think @filipecosta90 .

[2020-02-20 10:33] filipecosta90 commented on #291
@lantiga with the current RLTest + valgrind redis is shutdown correctly thus cleaning after himself. The report is only after the server was shutdown and valgrind analysing that the memory was not freed even tought all keys are deleted on shutdown.
imho this is a real leak.

[2020-02-20 10:34] lantiga commented on #291
How are keys deleted though? Only `DEL` is not sufficient, you need `MODELDEL`.

[2020-02-20 10:39] lantiga commented on #291
I'll be looking into the module API for a cleanup function

[2020-02-20 10:54] filipecosta90 commented on #291
@lantiga the free on the model datatype should do that:
[code]
So, doing MODELDEL and DEL on a model key should have the same outcome.

[2020-02-20 11:40] filipecosta90 opened #294 "Out Of Memory Crash"
doing something like:
[code]
will crash redis. This is interesting and we need to check how to verify wrong parsing of args and consequent wrong conversion to long.
[code]

[code]

[2020-02-20 13:07] #290 closed

[2020-02-20 15:08] #294 closed

[2020-02-20 16:02] lantiga commented on #291
@filipecosta90 it should, although I'm storing the stats in a global dict indexed by key (so we don't have to touch keyspace when updating stats, plus they are specific to the redis instance), and currently the model itself doesn't know about the key (and I believe it shouldn't)

[2020-02-20 19:22] lantiga commented on #260
@longbill that's for the report. We are currently doing a memory sanitization pass right now.
As soon as that is done we will upgrade TF to 1.14 and PyTorch to 1.4.0. ETA next week.

[2020-02-21 23:16] filipecosta90 commented on #280
@lantiga this will be solved on #296 .
we we're missing `RedisModule_FreeString`.

[2020-02-21 23:28] filipecosta90 commented on #285
hi there @lantiga ,
I've added libtorch.so to the ignored for now analysis on valgrind.
Notwithstanding there is a leak on. corrected on #296

[code]

[code]

[2020-02-22 01:08] filipecosta90 commented on #284
fixed :+1:

[2020-02-22 01:08] #284 closed

[2020-02-22 01:14] filipecosta90 commented on #281
fixed :+1:

[2020-02-22 01:14] #281 closed

[2020-02-22 01:19] filipecosta90 commented on #286
fixed :+1:

[2020-02-22 01:19] #286 closed

[2020-02-22 01:36] filipecosta90 commented on #279
fixed :+1:

[2020-02-22 01:36] #279 closed

[2020-02-23 19:21] filipecosta90 commented on #293
confirming that leak was solved

[2020-02-23 19:21] #293 closed

[2020-02-23 19:29] filipecosta90 commented on #287
confirming that leak was solved

[2020-02-23 19:29] #287 closed

[2020-02-23 19:33] filipecosta90 commented on #292
leak fixed :+1:

[2020-02-23 19:33] #292 closed

[2020-02-23 20:01] filipecosta90 opened #298 "potential leak on redis createEmbeddedStringObject ( needs further investigation )"
this a leak that appears multiple times on our tests and it can be either a missuse in our side or a real leak on redis. We should investigate further prior that creating an issue on redis himself.

example test that only has this leak:

```make -C opt test GEN=0 SLAVES=0 AOF=0 VALGRIND=1 TEST="tests_tensorflow.py\:test_tensorflow_modelinfo"```

[code]

[2020-02-23 20:11] filipecosta90 commented on #60
@gkorland @K-Jo @lantiga and @hhsecond .
re-opened this issue with further updates from new tests.

[2020-02-23 20:15] filipecosta90 commented on #266
@lantiga and @rafie this should be solved by the PR #296
probably related to the master-replica sync and solved by
https://github.com/RedisAI/RedisAI/blob/test.refactor/test/includes.py#L27

[2020-02-23 20:32] filipecosta90 commented on #92
@lantiga closing this since it was already merged :+1:

[2020-02-23 20:32] #92 closed

[2020-02-23 20:35] filipecosta90 commented on #208
closing this since all leaks are already being taken care on separate issues and this leak does not showup anymore :+1:

[2020-02-23 20:35] #208 closed

[2020-02-24 05:03] longbill commented on #260
@lantiga  Thank you, but I've changed my graphic card from TITAN X to GTX 1070 which has 6.1 Cuda capability :) and my problem is solved.

[2020-02-24 07:59] #219 closed

[2020-02-24 07:59] #221 closed

[2020-02-24 07:59] #233 closed

[2020-02-24 10:04] filipecosta90 commented on #60
@lantiga on PR #296 I've splitted the modelrun on TF into two tests since they handle different behaviours.

[2020-02-24 12:20] #280 closed

[2020-02-24 12:20] #285 closed

[2020-02-29 16:10] lantiga commented on #298
Can't reproduce on my system (Ubuntu via Docker on macOS)

[2020-02-29 16:52] lantiga commented on #291
I can't reproduce this with
[code]

/cc @filipecosta90

[2020-02-29 16:54] lantiga commented on #283
I saw it in the end :-) I need to delete ctx before returning...

[2020-02-29 16:57] #282 closed

[2020-02-29 16:57] lantiga commented on #283
Fixed in 95b7722

[2020-02-29 16:58] #283 closed

[2020-02-29 17:16] lantiga commented on #60
So, I have a couple of remaining leaks:

This one
[code]
I believe is due to the fact that when an error is generated upon setting a model, and the backend was loaded during the `modelset` call, the `handle` to the `dlopen` is detected as a leak.

This one I couldn't nail yet:
[code]

[2020-02-29 17:30] lantiga commented on #275
I can't reproduce this anymore

[2020-03-02 11:54] lantiga commented on #60
Running with the last Valgrind configuration + Debug build by @rafie returned a richer output.
This is still WIP.

[2020-03-05 20:59] lantiga commented on #60
Ok, I found the last TFLite leak. The rest of the leak from Valgrind are false positives, or things that we don't need to fix (e.g. related to allocating dlopen handlers, queues, or thread-locals not being freed in time from glibc from within frameworks).

[2020-03-05 20:59] #291 closed

[2020-03-05 21:00] lantiga commented on #288
Fixed in c322a57

[2020-03-05 21:00] #288 closed

[2020-03-05 21:00] #275 closed

[2020-03-05 21:01] lantiga commented on #298
I can't reproduce in Redis on the 6.0 branch on Ubuntu. Closing for now, @filipecosta90 feel free to reopen.

[2020-03-05 21:01] #298 closed

[2020-03-05 21:04] lantiga commented on #60
Closing for now, feel free to reopen

[2020-03-05 21:04] #60 closed

[2020-03-05 21:07] lantiga commented on #140
Closing for lack of repro, feel free to reopen.

[2020-03-05 21:07] #140 closed

[2020-03-05 22:09] lantiga opened #302 "Check RDB serialization"
There have been reports of `dump.rdb` being corrupted. To the best of my knowledge this happened on PyTorch models running on GPU, but I don't have a direct repro. Reports talk of this happening after Redis is terminated abruptly, although this clashes with what happens during RDB dump (writing to tmp file and then renaming).

This will need to be verified and eventually fixed for GA.

[2020-03-11 15:18] hhsecond opened #303 "List all the models deployed"
Currently, we don't have any mechanism to figure out the models deployed using RedisAI. While it is important to have an API to list all the models, It might be a good idea to have an API that lists scripts and tensors as well

[2020-03-11 15:20] hhsecond opened #304 "Meta argument for MODELGET"
Similar to the META argument for tensors, it's really helpful to have an API that returns the meta-information of a model such as backend, device, etc.

[2020-03-12 12:51] gkorland commented on #304
@hhsecond that should be part of the `AI.INFO <key>`

[2020-03-12 13:04] lantiga opened #306 "Add ability to TAG (or assign LABELS to) a model"
We need a way to verify the identity of a running model (beyond the key itself).

We need to decide whether we need full key-value information (like `LABELS label value` as Redis TimeSeries), or just a string TAG.

One nice side-effect is that now we can aggregate information at the AI.INFO level by also taking the TAG into consideration (stats from a model deployed at one key where a previous mod

[2020-03-12 13:08] lantiga commented on #303
We will implement a command to list models and scripts, along with their TAGS (see #306) for identification. In order to do that, we can leverage on the shard-level dictionary that we maintain for AI.INFO.
I don't think we should list tensors - they could come in a very large number, it would be equivalent to a keyscan.

[2020-03-14 21:52] lantiga commented on #274
Leak is gone as of 74dbbb5, closing

[2020-03-14 21:52] #274 closed

[2020-03-28 11:39] filipecosta90 opened #311 "retrocompatibility CI tests for rdb loading"
must include
- v0.1
- v0.2
- v0.3
- v0.9

[2020-03-28 19:28] lantiga commented on #311
Hi @filipecosta90, are we sure we want to go back that much?

[2020-03-28 19:32] filipecosta90 commented on #311
probably not @lantiga :) do you think 0.3 and 0.9 are enough?

[2020-03-28 19:33] lantiga commented on #311
I was thinking 0.9 :-) But if we think 0.3 is worth, let's support it.

[2020-03-31 15:37] #67 closed

[2020-03-31 16:00] #304 closed

[2020-03-31 16:00] #306 closed

[2020-03-31 16:00] #303 closed

[2020-04-05 13:43] lantiga commented on #311
Closed with #313

[2020-04-05 13:43] #311 closed

[2020-04-06 17:34] filipecosta90 opened #316 "AI.TENSORSET memmove overhead for large tensors"
For large tensors ( when setting with BLOB option which is the optimal one ), we spend 95.64% of the CPU time in memory move, which can be optimized by keeping the encoded tensor that is passed as an argument, using RedisModuleRetainString.

### Large tensor profile info ( Image with 116KB ):

Stack pointer | Full stack | Count | Self Count | Self percent (as % of RedisAI_TensorSet_RedisCommand) |

[2020-04-08 06:43] #261 closed

[2020-04-08 14:23] filipecosta90 commented on #88
@lantiga @K-Jo @gkorland @hhsecond following the discussed today, bringing this subject up with the minimum POC required:

# DAGRUN (1 level depth ) Design Proposal
Specify a direct acyclic graph of operations ( for now we only allow chaining ) to run within redisai.

[code]

## Some considerations:
By default, at the end of each operation, we persist the results in the same manner as independent

[2020-04-08 20:22] lantiga commented on #88
Hi @filipecosta90 thank you. My observations:
- the data pipe (|>) analogy could be misleading even for this first round, because it implies "Pipe-forward operator lets you pass an intermediate result onto the next function"; indeed you might be setting two tensors in two separate commands and then run (so it's not that the output of one goes in the other); the separator could still be ok, but wha

[2020-04-08 22:22] filipecosta90 commented on #88
Given the following example, if we want to only persist `ket` and `baz` we use the `PERSIST` on the operation part that we the outputs (`AI.MODELRUN m INPUTS foo bar fiz OUTPUTS ket baz`)
[code]
If we analyze even further the example you gave, modelrun would be using 2 local "volatile" tensors ( foo and bar ) and one tensor present on the keyset ( fiz ).

Regarding the operator to use, anyone that

[2020-04-08 22:34] lantiga commented on #88
For more clarity, I want to have the freedom to identify keys as volatile (I just added `volatile` here in the name for more clarity):
[code]
I don't like command-level PERSIST or LOCAL because they impose an unnecessary constraint, as they apply to all the output keys.

I'm leaning strongly towards declaring LOCALS as part of the command. It's very explicit and flexible.

[2020-04-08 23:22] filipecosta90 commented on #88
You're right :) Agree that it brings more freedom and control from command based granularity to output based  :+1:

[2020-04-08 23:30] lantiga commented on #88
With reference to:

Apart from PERSIST (see above), it all sounds good.

What needs a bit of extra care is the fact that whatever comes after MODELRUN will have to be called from the Run_Reply callback. Since generalizing this may be brittle, I propose to keep an intermediate representation of the DAG in `ctx`, indicating the done/in progress/todo state, so that Run_Reply can desume what needs to

[2020-04-09 07:56] #316 closed

[2020-04-12 19:20] irthomasthomas commented on #302
Hi I think I have experienced this today. Things where working ok and then my server rebooted and now I can't load the dump.rdb.....

1178:M 12 Apr 2020 12:15:35.049 # WARNING: The TCP backlog setting of 511 cannot be enforced because /proc/sys/net/core/somaxconn is set to the lower value of 128.
1178:M 12 Apr 2020 12:15:35.049 # Server initialized
1178:M 12 Apr 2020 12:15:35.049 # WARNING overcom

[2020-04-12 19:27] lantiga commented on #302
@irthomasthomas thank you for reporting this issue.

If you can't share the RDB (which is understandable), a few pieces of information would be useful:
- are you running on CPU? (from the logs it looks like it)
- I'm assuming you didn't do any rebuild or upgrades in the reboot, right?
- how is your RDB save configured? (how often)

Thanks

[2020-04-12 21:35] irthomasthomas commented on #302
Hi, I don't mind sharing the db, it's only scraped data from instagram.
https://github.com/irthomasthomas/ecsta.tk/blob/master/dump.rdb

Running on CPU.
No changes.
The config is all default.

Cheers

On Sun, 12 Apr 2020 at 20:28, Luca Antiga <notifications@github.com> wrote:

[2020-04-12 22:04] irthomasthomas commented on #302
@lantiga
I just tested that dump.rdb is working on my laptop with redis-5.0.7 and gears/ai v0.4.0
So I uploaded that rdb to the server and tried running it again but with redis-5.0.7 instead of 0.8 and with gears/ai v0.9.0 and it still produced that error.

[2020-04-13 12:51] lantiga commented on #302
@irthomasthomas I don't seem to have access to that repo

[2020-04-13 16:20] irthomasthomas commented on #302
@lantiga Sorry I forgot to make it public. Try now.

[2020-04-13 16:21] irthomasthomas commented on #302
@lantiga I don't think the dump.rdb is corrupted. I switched back to redisAI 0.4.0 and it works again.

[2020-04-13 16:21] lantiga commented on #302
Got it. I'll take a look in a few hours. Thanks!

[2020-04-14 20:28] filipecosta90 commented on #203
@lantiga @K-Jo @hhsecond and @gkorland I believe this is of most importance, specifically for solutions with multiple shards on the same machine.
I would stick to the same nomenclature of TF and Pytorch and add two loadtime configurations:
- INTRA_OP_PARALLELISM ( multiple threads within the ops )
- INTER_OP_PARALLELISM ( explicitly use a global (per process) thread pool )
If set to 0 or not set t

[2020-04-15 00:34] filipecosta90 opened #323 "Segmentation fault at RAI_ModelRunTF -> TF_DeleteSession, and RAI_ModelRunTF -> TF_GraphOperationByName"
@lantiga just confirmed that this issue was introduced with the batching PR (https://github.com/RedisAI/RedisAI/commit/8752589d1835109ee51b3d96743a42bc557bafae) and it happens deterministically. Was not able yet to make this crash happen with less load and using RLTest.

gdb bactrace showing issues on  RAI_ModelRunTF -> TF_DeleteSession:
[code]

Backtrace on another crash, this time reported via r

[2020-04-15 00:37] filipecosta90 commented on #323
@lantiga one more clue, and probably the reason we're not catching it on RLTest. It only happens with more than one client (2 is enough)

[2020-04-15 06:47] lantiga commented on #323
Hi @filipecosta90, do you have a script or setup to reproduce this?

[2020-04-15 08:21] filipecosta90 commented on #323
Will try to reproduce solely with rltest and update back here

[2020-04-15 09:16] filipecosta90 commented on #323
The added test case in #324 deterministically crashes redisai :)

[2020-04-15 15:18] filipecosta90 commented on #203
#322 adds the possibility to specify both configurations(INTRA_OP_PARALLELISM and INTER_OP_PARALLELISM). Only enforced for now on Tensorflow backend.

[2020-04-15 21:49] filipecosta90 commented on #203
@hhsecond @gkorland @lantiga and @K-Jo I've done a quick test with the added configurations of interop and intra-op parallelism of #322, and even on a local dev environment this plays a big role in the achievable ops/sec and overall inference latency.
For OSS RedisAI with financialnet aibench we see that keeping the background threads limited is beneficial. This is directly bound to the model comp

[2020-04-16 13:42] lantiga commented on #323
So I think I identified the issue. This is due to shallow copying happening in the processing thread. I need to refactor model run so that we are not shallow copying anything.

[2020-04-16 13:45] lantiga commented on #323
I'll push the fix to this branch as soon as I have it ready

[2020-04-16 13:47] lantiga commented on #323
@filipecosta90 actually, I'll push a minimal fix in the meantime so that at least non-batched operations do not crash

[2020-04-16 14:53] filipecosta90 commented on #323
thank you @lantiga :)

[2020-04-16 18:28] #323 closed

[2020-04-17 22:42] filipecosta90 opened #326 "assess AI_dictAdd potential small memleak and compare against rax usage"
something to keep in mind for future refactoring ( assess if it makes sense to maitain AI_dict or replace them with a rax implementation which is already battle tested ).
[code]

quickly reproduce:
[code]

[2020-04-18 15:05] lantiga opened #328 "Extend batching to DAG commands"
When #322 gets merged, DAG won't support batching. That is, a `MODELRUN` within a `DAGRUN` will not have the opportunity to be batched with other `MODELRUN` commands within the DAG or within the overall queue.

Enabling batching DAG commands will require some refactoring (not major). Right now (in #322) a DAG command corresponds to a single entry in the queue. This setting is simpler, but the batc

[2020-04-18 15:58] lantiga commented on #302
Hi @irthomasthomas, sadly it took longer. Do you remember the name of the key for the model?

[2020-04-18 16:10] lantiga commented on #110
Closing since TF2 is supported through freezing. See https://github.com/RedisAI/RedisAI/blob/master/test/test_data/tf2-minimal.py

[2020-04-18 16:10] #110 closed

[2020-04-18 16:12] lantiga commented on #122
I suspect this is related to #302. Serialization could be triggered while the model is running in another thread. We need to switch to caching to be safe and avoid locks.
Will send a PR shortly.

[2020-04-18 16:44] lantiga opened #329 "Revamp GET methods"
Based on a discussion between @itamarhaber and myself, we should restructure the `*GET` method API:

The main issue is not having a command that just returns the raw BLOB (or SOURCE in SCRIPTGET) data; this is limiting for working with the CLI, because we can't just redirect the output to a file

The solution is to have [ALL | META | BLOB] as output options, where BLOB only returns the raw data, w

[2020-04-18 18:02] #88 closed

[2020-04-18 18:04] lantiga opened #330 "Add DAGRUN documentation"

[2020-04-18 18:06] lantiga commented on #257
To address in #319

[2020-04-18 18:06] lantiga commented on #256
To address in #319

[2020-04-18 18:27] lantiga commented on #329
Actually, instead of [ALL | META | BLOB], since TENSOR has VALUES and it wouldn't be clear what needs to be returned with ALL, we could settle for

[code]
so to get just meta of `foo` one goes
[code]
to get just the data buffer
[code]
to get both
[code]

Same thing for MODELGET
[code]
and
[code]

[2020-04-18 19:12] lantiga commented on #278
# Monitoring facility design

## Requirements

Based on the above, the minimal requirements for a monitoring infrastructure are:
- the ability to collect some of the outputs of a model/script into a persistent collection (similar to a Redis list), rather than an individual tensor
- the ability to submit multiple runs on the same model instead of one (with the caveat that dropout will act the same

[2020-04-18 22:43] itamarhaber commented on #257
I'm not sure there's any point in doing asymptotical complexity analysis for anything in RedisAI... Setting and getting Tensors, mebbe, eh but the real beef is in models, scripts and DAGs where we really have no insights.

Recommending to close this.

[2020-04-19 08:06] #257 closed

[2020-04-19 13:05] irthomasthomas commented on #302
@lantiga No worries it's auction:model

[2020-04-19 16:28] lantiga commented on #184
On second thought, interrupting an execution of a thread is beyond the scope here.

A TIMEOUT argument to MODELRUN would still be relevant, but to indicate that a job in the queue should be evicted (i.e. skipped and removed) from the queue if TIMEOUT has elapsed.

In other words, clients can declare that they are only interested in the computation if executed within TIMEOUT, otherwise no bother.

[2020-04-20 20:36] lantiga opened #333 "Add DAGRUNRO command"
We should add a new command `DAGRUNRO` (`RO` stands for read-only - other suggestions are welcome).

This is identical to `DAGRUN` but it won't support `LOAD` or `PERSIST` arguments. Since it can be declared as a read-only command, it can be ran on replicas in master-replica configurations.

/cc @filipecosta90

[2020-04-22 10:39] #329 closed

[2020-04-22 11:19] #333 closed

[2020-04-22 13:57] filipecosta90 opened #335 "enable runstats on AI.DAGRUN and AI.DAGRUN_RO"

[2020-04-22 14:19] filipecosta90 commented on #278
@lantiga, as we've discussed, start by adding the features on top on a list of blob tensors and then ( if required by performance reasons ) change to a specific data-structure. in that manner, we leverage redis data structures and don't spend time implementing the new data structure.

[2020-04-22 16:38] lantiga commented on #278
So, commands:
- AI.TENSORLIST foo SIZE 100: initializes a RedisList with two elements

- AI.TENSORPOP foo INTO bar
- AI.TENSORPUSH foo FROM bar
- AI.TENSORCONCAT foo INTO bar

Plus, extra args to MODELRUN and SCRIPTRUN
- REPEAT 100
- FOREACH a_list
- FOREACHPOP a_list

I think that's it, what do you think @filipecosta90 ?

[2020-04-22 17:45] filipecosta90 commented on #278
@lantiga @itamarhaber what do you think of the following API proposal? ( we would basically use lists underneath and the first position of the list would always contain the metadata (all transparent to the user) ). This implies no added data structure and out of the box serialization.

## AI.LSET
[code]
(write)
Creates an empty tensor list. all list elements ( tensors) have the same type and dimen

[2020-04-22 18:18] lantiga commented on #278
It’s a good API, I’d also add CONCAT

[2020-04-22 18:38] #335 closed

[2020-04-22 23:34] itamarhaber commented on #278
I like where this is going :)

`AI.TLCONCAT <source-key> [....] <dest-key>` perhaps?

Why? This very SQL-ish and not Redis List-ish.

`AI.TLPOP <key> [<count> | ALL]` maybe?

misc:
* As this is turning into a design doc, perhaps we should maintain one instead of bickering over an issue?
* These aren't just lists but rather tensor lists so let us settle on AI.TL* (for now ;))

[2020-04-23 23:47] lantiga commented on #278
@itamarhaber I like the TL prefix!

Because I'd like to get a TENSOR from a TL or push a TENSOR to a TL, but avoid the roundtrip. Since a tensor is typically bulky, and a list of tensors is even more, I think this could be quite useful.

I like it!

It's a good idea

[2020-04-24 08:12] hhsecond commented on #278
Chiming in with few thoughts
- TL prefix is nice
- Re: FROM-INTO form -> If that's not Redis like, perhaps TLPOP and TLPUSH inside DAG
- `AI.TLPOP key [count | ALL]` -> wouldn't this pop all the elements in the list and return it and wouldn't that be unnecessary if the user only wants to clear the list?

[2020-04-26 13:00] irthomasthomas commented on #302
Hi @lantiga I don't know if this is related but now I keep having to restore the rdb from backup or I get this error:

redis-server: src/streams_reader.c:375: StreamReader_ReadRecords: Assertion `RedisModule_CallReplyType(values) == REDISMODULE_REPLY_ARRAY' failed.
[1]    879 abort      redis-server ~/redis-5.0.8/redis.conf

[2020-04-27 20:37] filipecosta90 opened #340 "ensure safe RAI_FreeRunInfo"
[code]

[2020-04-27 23:54] filipecosta90 opened #341 "double free. accessing invalid memory due to double management of of std::shared_ptr<torch::jit::script::Module>"
This one took a while to validate, but all evidences point to invalid memory access due to free on Redis, and deleting a pointer that come from new.
Using redis compiled with std libc allocator and building RedisAI in debug mode via:

[code]
running the torch test files and attaching gdb ot redisai crashes redis.

[code]

backtrace ( as you can see this invalid memory access is originated by flush

[2020-04-28 07:20] DvirDukhan opened #343 "Build issues"
This issue aggregates build issues and contain multiple sub-tasks

- [ ] `make setup` - This script installs various applications and packages in the local machine. Have a dedicated, transparent, and infomative script(s) that installs the requirements in a virtual environment/ `conda` env.
- [ ] use `clang` explicitly as the compiler at macOS builds. `libtorch-cpu-macos-x86_64-1.4.0` does not comp

[2020-04-28 08:23] antocapp opened #344 "How to use Redis AI with multiple (different) pytorch models?"
Hello, thanks for this wonderful project.

Is there a way to use RedisAI to deploy multiple different pytorch models (whose input tensors are independent, so input tensor of modelA is completely independent of modelB and viceversa), thus leading to the possibility of a concurrent execution of inferences?

Thanks

[2020-04-28 09:45] hhsecond commented on #344
Hi @antocapp
If I understood your question correctly; yes you can use RedisAI to serve multiple models (regardless of which framework they were built with). You just need to make sure the key names are different for different models and the input/output tensors. I made a quick gist by modifying the example repo code. Let me know if this doesn't help
https://gist.github.com/hhsecond/dd3b7d50ceaef7a

[2020-04-28 09:45] #344 closed

[2020-04-28 17:09] #340 closed

[2020-04-28 17:09] #341 closed

[2020-04-28 19:32] #122 closed

[2020-04-30 08:35] antocapp commented on #344
Hi @hhsecond thanks a lot for your support, this solution is indeed very helpful.

I would like to ask you another question: it is possibile, given a torch model (scripted with torch.jit.script and saved with ml2rt), and being this model composed of two methods (one is the classic "forward" method of pytorch nn.Module, while the other is a custom method that I wanted to include into the script wit

[2020-04-30 13:53] #256 closed

[2020-04-30 13:53] #330 closed

[2020-05-01 18:02] dengliming opened #348 "ERR wrong number of arguments for 'AI.SCRIPTSET' command"
version：0.9.0

[code]

[2020-05-01 18:27] filipecosta90 commented on #348
hi there @dengliming , between 0.9.0 and the current master ( soon to be part of a newer version of redisai ) we've added functionalities like the tagging the script and enforced the `SOURCE` keyword.
For 0.9, if you run:
[code]
You should see the error that is expected given that `return 1` is not a valid script.

---
# while we wait for a new release

While the release is being baked, can you us

[2020-05-01 21:33] dengliming commented on #348
Got it. Thank you very much. closing.

[2020-05-01 21:33] #348 closed

[2020-05-02 13:48] gkorland opened #350 "Redis version should be verified on RedisModule_OnLoad"

[2020-05-03 21:08] #260 closed

[2020-05-03 21:09] lantiga opened #352 "Migrate from libtensorflow to TFRT"
https://blog.tensorflow.org/2020/04/tfrt-new-tensorflow-runtime.html

[2020-05-03 21:11] lantiga commented on #278
Working on a new design involving extending SCRIPT to support calling into `redisai.modelrun`. This allows a lot more flexibility and support models that need to be called iteratively, like GPT2 for text generation.

[2020-05-04 20:27] #350 closed

[2020-05-04 22:20] andresrinivasan opened #354 "Encountered 3 file(s) that should have been pointers, but weren't"
On a fresh clone of the repo

[code]

[2020-05-06 20:27] lantiga commented on #354
Thank you @andresrinivasan. This should be fixed now

[2020-05-06 20:27] #354 closed

[2020-05-06 21:36] lantiga commented on #96
Addressed by #362

[2020-05-06 21:47] #96 closed

[2020-05-07 12:53] gkorland opened #365 "Add doxygen the low level API"

[2020-05-10 09:41] lantiga opened #369 "Finalize DAG with SCRIPTRUN support"

[2020-05-10 09:42] lantiga opened #370 "Add support for multiple devices from within an individual DAG"

[2020-05-12 06:15] DvirDukhan opened #371 "torch jit compiler crashes when defaults arguments to script functions lack type hints"
having a function with default parameters in torch script crashes the compiler and Redis server due to bad access error. The exception is not caught in the try-catch block.

[2020-05-12 10:34] filipecosta90 commented on #371
dvir can you share a quick sample ? =) we can integrate on tests right away

[2020-05-12 10:49] lantiga commented on #371
I think this may actually be a bug on the libtorch side.

[2020-05-12 11:35] DvirDukhan commented on #371
it is in the libtorch. do you want me to open them an issue? https://github.com/pytorch/pytorch/issues

[2020-05-12 11:40] lantiga commented on #371
Let me take a look and ask someone from the core team

[2020-05-18 21:21] lantiga opened #376 "Add support for constant inputs in SCRIPTRUN"
TorchScript functions can take a parametric numeric argument in input, in addition to tensors. For example a rotation value, or a threshold. It would be convenient to retain the ability to pass them to SCRIPTRUN.
A possible design could simply be
[code]

[2020-05-19 18:40] filipecosta90 opened #378 "AI.MODELGET needs to return INPUTS,OUTPUTS, BATCHSIZE, and MINBATCHSIZE"
We need the above properties to properly allow for:
- a full copy of models via modelget->modelset

[2020-05-24 14:01] filipecosta90 opened #382 "AI.SCRIPTRUN results are being replicated twice"
The results are being replicated on `RAI_ModelRunScriptRunReply` via `RedisAI_ReplicateTensorSet` and via `RedisModule_ReplicateVerbatim` within `RedisAI_ScriptRun_RedisCommand`.
I believe the call that should be removed is the `RedisModule_ReplicateVerbatim` given that `RedisAI_ReplicateTensorSet` will ensure determinism on slves in cases of on determisitic outputs ( like we have on modelrun )

[2020-05-25 06:55] lantiga commented on #382
Yes, I agree. This is a leftover from the times when SCRIPT was not managed by the queue.

[2020-05-25 08:12] #204 closed

[2020-05-25 11:59] #378 closed

[2020-05-25 12:57] #382 closed

[2020-05-25 13:00] filipecosta90 commented on #365
fixed by #381
assuming you have doxygen installed on your machine ( `apt-get install -y doxygen` ) you can generate the llapi via:
[code]

[2020-05-25 13:00] #365 closed

[2020-05-25 14:46] #369 closed

[2020-05-25 15:48] lantiga opened #386 "Add support for chunking large blobs for serialization, replication and MODELGET"

[2020-05-25 22:57] lantiga commented on #371
So, a bit more context.

Syntax can be wrong, RedisAI doesn't crash but reports the error, however:
default parameters that are *not type-annotated* crash the interpreter.

So basically:
[code]
crashes, but
[code]
doesn't crash and actually succeeds.

There's nothing we can do in RedisAI but I'm trying to work at getting this fixed upstream.

[2020-05-26 16:57] lantiga commented on #371
I have a fix in the PyTorch TorchScript interpreter: I'm going to open a PR shortly, hopefully it will be merged soon. I'll reference it here for us to track progress.

[2020-05-26 21:06] lantiga commented on #371
https://github.com/pytorch/pytorch/pull/39021

[2020-05-26 21:15] lantiga opened #389 "Enable calling MODELRUN from within SCRIPT"
The TorchScript interpreter can made to call into custom C++ functions. We can use this mechanism (I have a working prototype) to add a `redisai.modelrun` function to TorchScript, so that we can mix TorchScript with model invocations, even from different backends (not just Torch).

This allows:
- model aliasing
- A/B testing
- ensembles
- monitoring metrics (MCDropout etc)
- iterative evaluation (

[2020-05-26 21:17] lantiga commented on #278
Superseded by #389

[2020-05-26 21:17] #278 closed

[2020-05-27 18:57] lantiga opened #392 "Support variadic INPUTS in SCRIPTRUN (and potentially MODELRUN)"
Syntax could be

[code]

which translates to a function signature
[code]
in TorchScript

[2020-05-28 11:08] lantiga commented on #371
The patch has been merged:
https://github.com/pytorch/pytorch/commit/e088902b4a8cd7ea1dd998e6ed7d523786aca304

We'll be good with the next PyTorch release.

[2020-05-30 10:43] MrRace opened #393 "It seems do not support sklearn？"
By now it seems do not support traditional machine learning models, for example models in sklearn. Is it?

[2020-05-31 15:54] lantiga commented on #393
Hi @MrRace it actually does, thanks to the ONNXRuntime backend, which supports the ONNX-ML specification.

Take a look at https://github.com/RedisAI/redisai-examples/tree/master/models/sklearn
for learning how to export sklearn models to ONNX-ML and https://github.com/RedisAI/redisai-examples/blob/master/python_client/ for learning how to run them.

Please get back if you encounter issues or want

[2020-05-31 15:54] #393 closed

[2020-06-01 09:00] DvirDukhan opened #394 "allow low level api set tensor in keyspace"

[2020-06-01 13:49] #392 closed

[2020-06-04 05:56] wangluochao902 opened #399 "A bug in dockerfile"
https://github.com/RedisAI/RedisAI/blob/1a3f3946ca31c94c5b7d8920550661858b2dee47/opt/build/onnxruntime/Dockerfile.arm7#L11
Hi, we are developing a tool to detect typos/bugs in dockerfiles automatically. Our tool finds a potential bug above. Is it a bug? It seems like the semicolon and the backslash are flipped. By the way, our tool is currently available here https://wangluochao902.github.io/clche

[2020-06-05 12:17] pohjao opened #401 "MODELRUN results missing output values"
I'm using this ONNX YOLOv3 model including the pre- and post processing functions:
https://github.com/onnx/models/tree/master/vision/object_detection_segmentation/yolov3

If this this model is used with RedisAI it consistently returns only one detection. When I configure the same model using seperate ONNX Runtime instance, multiple detections are returned. I also  tried using YOLO TensorFlow model

[2020-06-06 20:07] DvirDukhan opened #402 "TENSORSET should free existing data"
`RedisAI_TensorSet_RedisCommand` calls to `RAI_OpenKey_Tensor` which validates that the key is empty or is a tensor. After parsing the args it sets the new value in the key, without releasing existing data if there is such.
If the is an unwated byproduct we should have a command like TENSORUPDATE

[2020-06-07 07:58] lantiga commented on #402
Actually it does: when a new key is set, `RAI_Tensor_DTFree` is called on the old value (you can verify).

[2020-06-07 08:56] #402 closed

[2020-06-07 09:09] lantiga commented on #401
HI @pohjao, it might be an issue with the ONNXRuntime backend. YOLO on TF and TORCH works correctly, but we haven't tested it on ONNXRuntime. It might be that ONNXRuntime returns a tensor list and we don't handle that correctly.
I'm going to look into this shortly, thanks for the report

[2020-06-08 09:35] lantiga commented on #401
Hi @pohjao, I understand now what's going on.

There's an issue with how the non-maximum suppression code is implemented in the model.

Usually in DL models the batch dimension (the 0-th dimension) is preserved from inputs to outputs: if I call a model with a `[1, 3, 512, 512]` input (batch size of `1`), then all outputs will have a value of `1` for the 0-th dimension. In the case of this YOLO mod

[2020-06-08 10:02] lantiga commented on #401
@pohjao I just submitted a PR fixing this issue

[2020-06-08 13:44] pohjao commented on #401
Thank you!

[2020-06-10 09:26] #401 closed

[2020-06-10 09:27] lantiga commented on #401
Hi @pohjao, we just merged the fix in master

[2020-06-11 14:16] lantiga opened #407 "Upgrade ONNX backend to ONNXRuntime 1.4.0"
https://github.com/microsoft/onnxruntime/releases/tag/v1.4.0

[2020-06-16 09:20] pohjao opened #408 "Redis 6.0.1 crashed by signal: 8 when using ONNX-model."
Hello,
Redis crashes when running the official ONNX YOLOv3 from the ONNX Model Zoo.
My implementation and the model is similiar to https://github.com/RedisAI/RedisAI/issues/401

The implementation is able to run successful predictions and my intuition is that the crash occurs when there are no predictions for the input (when for example inputting a photo of a white wall).

I have tested this with

[2020-06-16 13:06] gkorland opened #409 "AI.MODELSET describe how to set specific GPU"

[2020-06-16 13:56] filipecosta90 opened #410 "TensorRT engines"
according to Nvidia support TensorRT engines are not compatible across different TensorRT versions, which leads to the following errors being loogged:
[code]
however RedisAI is crashing on `libtensorflow.so` due to accessing invalid an memory location. we need to safeguard against it.
Here is the crash report:
[code]

[2020-06-16 17:30] filipecosta90 opened #411 "memleak on AI.DAGRUN -- RedisAI_RunInfo and RAI_ModelRunCtx data structures are not being fully freed"
use the branch [sanitizer-dagrun](https://github.com/RedisAI/RedisAI/tree/sanitizer-dagrun) and a redis-server compiled with glibc allocator.

To check the leak on **AI.DAGRUN** variant:
[code]

important leak info:
[code]

----

To confirm that the **AI.MODELRUN** variant **does not present this leak:**
[code]

[2020-06-16 19:57] lantiga commented on #409
Solved by df29b57

[2020-06-16 19:57] #409 closed

[2020-06-16 20:03] lantiga commented on #408
Hi @pohjao, I confirm I could reproduce the issue on my system. I'll submit a fix shortly.

[2020-06-16 20:36] lantiga commented on #408
I just submitted a hotfix with 7f87f85

[2020-06-16 20:37] lantiga commented on #408
The hotfix solves the issue for me, I'm closing this. Feel free to reopen if the issue persists for you.

[2020-06-16 20:37] #408 closed

[2020-06-17 07:28] #411 closed

[2020-06-17 07:29] lantiga opened #413 "Backport ccf0d5c to 1.0"
#412 should be backported to the 1.0 branch via cherry-picking ccf0d5c
A new patch release should be issued

[2020-06-17 07:46] gkorland commented on #409
Copied to 1.0 branch https://github.com/RedisAI/RedisAI/commit/29e0538325a037968ab7b7ec6c1768f366240628

[2020-06-17 08:58] filipecosta90 opened #414 "enable backend's per_process_gpu_memory_fraction config option"
In some cases it is desirable for the backends to only allocate a subset of the available memory ( for example 2 RedisAI instances sharing a GPU device ).

[2020-06-17 09:02] filipecosta90 opened #415 "Enable backend's memory growth option for GPU ( mimic TF_FORCE_GPU_ALLOW_GROWTH )"
In some cases, it is desirable for the backends to only grow the GPU memory usage as is needed by the process ( Example RedisAI sharing the GPU memory with other process, etc... ).

[2020-06-19 10:53] lantiga opened #418 "Upgrade TF backend to libtensorflow 2.x"
Since June 2020 TF has started releasing official `libtensorflow` builds. For now only nightly builds for 2.2.0 are available.
The first official release for libtensorflow 2.x will happen with TF 2.3.0.

A first test shows that `libtensorflow` 2.2.0 is a drop-in replacement in RedisAI, everything just works. We will need to take care of the packaging.

[2020-06-25 09:14] dsmanl commented on #249
Dear all, I am using the latest version of the docker image redislabs/redismod:edge in order to learn more about RedisGears and RedisAI. It seems that I am facing the same issue as @irthomasthomas as I get the error when running a random forest classifier converted from scikit-learn to ONNX: ERR: non-tensor output from ONNX models, ignoring (currently unsupported). Are there any updates on this is

[2020-06-25 14:33] lantiga commented on #249
Hi @dsmanl, we haven't looked into this recently as we are currently working at performance-oriented features, but it's something we'll need to solve soon.

The concept of a tensor is entrenched in RedisAI, but we could think about converting non-tensor output to Redis data structures (e.g. nested lists), for clients to consume.

You also might be interested in taking a look at https://github.com/

[2020-06-26 07:02] dsmanl commented on #249
@lantiga thanks a lot! I have heard about `hummingbird, but have not used it yet.

[2020-06-28 16:57] filipecosta90 commented on #413
closed by #419

[2020-06-28 16:57] #413 closed

[2020-06-28 17:18] filipecosta90 opened #422 "seg fault on libtorch_cpu Node destructor after ERR Function returned unexpected number of outputs"
## spin up standalone redis-server ( force reuse environment for tests )
[code]

## Issue tests while reusing environment
[code]

## catch with gdb

[code]

## redis-server log
[code]

[2020-07-12 11:55] gkorland opened #429 "Add ASYNC mode to MODELRUN"
[code]

Returns immediately not waiting for model to run, avoid blocking client.

[2020-07-17 12:12] #386 closed

[2020-07-17 12:23] filipecosta90 commented on #226
@lantiga the following [PR #7491](https://github.com/redis/redis/pull/7491) on the main redis repo will bring full visibility on blocking commands time tracking like modelrun,scriptrun, dagrun...

[2020-07-21 11:06] gkorland opened #434 "Define `getkeys-api` on AI.DAGRUN"
Define `getkeys-api` on AI.DAGRUN

[2020-07-27 22:09] lantiga commented on #418
Tensorflow 2.3 has been released.

AFAIK, libtensorflow still ships nightlies regularly, but I couldn't find an official 2.3.0 cut.

[2020-07-29 19:28] Spartee opened #437 "Failed SCRIPTRUN with redis cluster"
## Description

Hello, we are trying to investigate running RedisAI on our clusters to perform inference in at scale. We have working examples of running both the Bash and Python clients with a single instance of Redis with RedisAI.

We noticed that the ``RedisModule_CreateCommand`` for ``AI.SCRIPTRUN`` did not include ``no-cluster`` in the string flags, so we assumed that this function would work

[2020-07-31 08:19] lantiga commented on #437
Dear @Spartee, SCRIPTRUN should definitely work in cluster mode.
As a note, you should make sure all keys in a multi-key command reside on the same shard using hash tags (https://redis.io/topics/cluster-spec). This is made easier if you resort to DAGRUN (which is getting more features in #435).

We're verifying internally on the crash, which should not happen in any way. We'll get back asap, thank

[2020-08-02 20:45] Spartee commented on #437
@lantiga Thanks for getting back to me. Ill check again to make sure all the keys were on the same shard. Likewise, I will also check to see if I can get the same workflow running with DAGRUN. Ill post back here once I have done this.

Thanks for looking into this. Happy to help/debug just let us know what else we can do.

[2020-08-03 18:58] Spartee commented on #437
Ok, so we tried the suggestion of using hashtags and still received a similar error, if not the same, to the error above around ``RM_OpenKey`` in cluster mode. The following are the commands that we ran with the same model, script, and image as before on the same cluster same nodes.

[code]

Here was the dump from the node.

[code]

@lantiga This is my effort to ensure that all keys were hashed to

[2020-08-04 21:56] Spartee commented on #437
Could be related to this? https://github.com/redis/redis/issues/6552

Weve been stepping through the program with ddt/gdb and analyzing the core dump. Nothing found of significance so far however.

[2020-08-04 23:53] Spartee commented on #437
From everything we have seen it appears as if, even with tags, the SCRIPTRUN command executes on a different cluster node than the cluster node where SCRIPTSET hashed to. Despite spending today debugging we have come up with little else to provide.

[2020-08-05 14:03] filipecosta90 commented on #437
hi there @Spartee , thank you for reporting this. We are able to reproduce the issue and should come out with a fix in the very short term ( 1-2 days ). We will apply the fix to both master ( docker edge ) and to 1.0 branches ( docker latest ) so I believe you should be able to test the fix on your side as soon as we release it :)

[2020-08-05 20:16] Spartee commented on #437
@filipecosta90 Thank you! Happy to test your PR on our end once you're in the review stage if you would like.

[2020-08-06 10:09] filipecosta90 commented on #370
Fixed by #424

[2020-08-06 10:09] #370 closed

[2020-08-06 21:49] filipecosta90 commented on #437
Thank you @Spartee . #438 is ready for review, so we should have it revised/merged really soon. Will keep you updated

[2020-08-06 22:17] lantiga commented on #437
Just sent my review, we're close! Kudos to @filipecosta90 for the fix

[2020-08-07 13:51] filipecosta90 opened #442 "RedisAI v1.0.1 LLAPI not being properly loaded by RedisGears v1.0.1"
The issue seems to be related to `RedisAI_TensorRedisType`, as per the sample output:
[code]

[2020-08-07 21:28] #434 closed

[2020-08-07 21:28] #437 closed

[2020-08-07 22:24] filipecosta90 commented on #437
@Spartee you should be able to test the fix on the current `redisai/redisai:edge` image. Please confirm that you pull the latest edge version ( will output `git_sha=b1494aa0386b42527a941356840c70e1bede963d` on the log ), as follows:
[code]
Full log:
[code]

We will now proceed with the cherry pick to 1.0.x version so it can be accessed via `redisai/redisai:latest`.

[2020-08-08 00:12] Spartee commented on #437
Thank you @lantiga @filipecosta90  and great work on the PR. That looked like alot and you turned that over pretty fast. We have to build from source to run because were running on a Slurm cluster that doesn't play nice with docker, but I can test it out on my laptop(with docker) before moving to using my source build again.

Thanks again for doing this so quickly. We really appreciate it. I will

[2020-08-11 11:58] filipecosta90 opened #443 "segfault on RAI_parseTensorSetArgs"
following redisai-py nightly test fails: https://app.circleci.com/pipelines/github/RedisAI/redisai-py/300/workflows/5608f512-affc-49c6-ac1b-361aeaa611af/jobs/648

running redisai-py tests (test causing issues is test_dagrun_calling_on_return **on `AI.TENSORSET`** ):
[code]

command causing this:
[code]

backtrace:
[code]

redisai (tensor.c RAI_parseTensorSetArgs ) LOC of segfault:
[code]

[2020-08-24 21:26] #443 closed

[2020-08-24 22:17] filipecosta90 commented on #443
lets cherry-pick to 1.0 as well @lantiga . Adding it #450

[2020-08-28 10:19] traptrip opened #452 "Redis 6.0.1 crashed by signal: 11 while AI.MODELSET pytorch model"
Hello! My RedisAI docker container is crashed while loading a traced torch model. Model size is lower then 512 MB.
![Screenshot from 2020-08-28 15-13-27](https://user-images.githubusercontent.com/42463838/91549898-215b5080-e941-11ea-9554-3b3b51f3f6b5.png)

My model tracing code:
[code]
When I'm loading and use the model by this code there is no error.
[code]
___

I run container by
[code]
Here is

[2020-08-28 10:33] lantiga commented on #452
Hi @traptrip, thank you for detailing the issue. What is the version of PyTorch you trace from?

[2020-08-28 11:33] traptrip commented on #452
Hi @lantiga, torch==1.6.0

[2020-08-28 11:52] lantiga commented on #452
Yeah, that is it I think. We haven't updated the PyTorch backend to 1.6.0 yet, it's the next thing in our pipeline.
PyTorch traces are usually not backward compatible (tracing on 1.6.0 and running on 1.5.0 doesn't work, the reverse does).
Can you try tracing from 1.5.0?

[2020-08-28 11:53] lantiga commented on #452
(sorry, closed the issue accidentally)

[2020-09-02 08:28] traptrip commented on #452
I traced the model from 1.5.0 and it worked, thank you @lantiga!

[2020-09-02 08:28] #452 closed

[2020-09-02 12:52] DvirDukhan opened #456 "LLAPI ON DAG"

[2020-09-03 21:56] guyroyse opened #458 "redis-cli --raw AI.MODELGET mymodel BLOB > model.ext doesn't round trip models"
The documentation in commands.md is incorrect. Admittedly in a small way. It states:

However, you cannot. redis-cli will tack on a newline to the end of the blob when you use the file redirection. I confirmed this with a hex editor. The same thing happens with tensors (however tensors don't have documents saying this works). This isn't a problem with RedisAI per se, so much as a problem with (or

[2020-09-03 22:11] guyroyse commented on #458
Also, happy to send a pull request to remove the lines if that's preferable. 😉

[2020-09-04 14:26] lantiga commented on #458
Hey @guyroyse, uh! Admittedly at this point I very likely never double checked...

It would be really great to have a flag in redis-cli to avoid the trailing newline, do you think there's room for it?

[2020-09-04 14:31] guyroyse commented on #458
I think redis-cli would benefit greatly from what is a rather small change. I'm actually somewhat surprised the --raw option doesn't do this by default.

[2020-09-09 12:26] gkorland opened #459 "Upgrade Engines"
- [x] Pytorch 1.7
- [ ] ONNX runtime 1.5
- [x] TF 2.3

[2020-09-09 12:26] gkorland commented on #407
ref #459

[2020-09-09 12:26] gkorland commented on #418
ref #459

[2020-09-09 12:29] #407 closed

[2020-09-09 12:29] #418 closed

[2020-09-09 16:35] DvirDukhan opened #460 "fix 1.0.2 memory leaks"
[valgrind.log](https://github.com/RedisAI/RedisAI/files/5196660/valgrind.log)

[2020-09-10 17:54] gkorland commented on #458
@guyroyse Are you sure it's the redis-cli which adds newline?

[2020-09-11 14:16] guyroyse commented on #458
Reasonably, but I could be wrong. The only thing I'm 100% sure of is that `redis-cli --raw AI.MODELGET mymodel BLOB > model.ext` returns a file that I cannot send back into RedsiAI because it has an superfluous newline in it.

[2020-09-16 14:29] lantiga commented on #460
Majority is false positives. The only genuine leak to fix was fixed in #457 commit 88177c1

[2020-09-16 14:47] #460 closed

[2020-09-17 09:48] rafie commented on #231
We're bringing our ARM support up-to-date, so we'll close this one as it's out of date now.
Documentation will be updated accordingly.

[2020-09-17 09:48] #231 closed

[2020-09-21 07:14] oqpti opened #461 "TensorRT"
What is the likelihood that Redis AI will support TensorRT engines in the near future? In spite of how lovely and convienent the redis platform is to use, Redis AI can't compete with Triton for performance limited applications until this is possible.

[2020-09-21 07:52] lantiga commented on #461
For clarification (it may not be useful for you @oqpti, but it may be for others): Triton is an inference server (just like RedisAI) and both can use or not use TensorRT for executing (part of) computation graphs in an optimized way.

So TensorRT concerns the RedisAI backends, rather than RedisAI itself. For instance, you can leverage TensorRT it through the TensorFlow backend, thanks to TF-TRT (h

[2020-09-21 08:03] oqpti commented on #461
This actually does help, thank you!

On Mon, Sep 21, 2020, 3:52 AM Luca Antiga <notifications@github.com> wrote:

[2020-09-23 12:14] filipecosta90 commented on #226
Closing this since we know the root cause of this difference. cc @gkorland @lantiga

[2020-09-23 12:14] #226 closed

[2020-09-23 12:23] gkorland opened #463 "Add MINBATCH size timeout"

[2020-09-23 12:32] lantiga commented on #463
We'll use `pthread_cond_timedwait` with an absolute time computed from the timeout set to the element being batched.

[2020-09-23 12:33] gkorland opened #465 "Extend TorchScript - Redis API"

[2020-09-29 09:16] ajeetraina opened #467 "RedisAI for Edge Device(NVIDIA Jetson Nano)"
### Why RedisAI on Edge device?

Jetson Nano Developer Kit is purely an AI computer. Delivering 572 GFLOPS of compute performance, this is a small, powerful $99 computer that lets you run  modern AI workloads and is highly power-efficient, consuming as little as 5 watts. It can run a wide variety of advanced networks, including the full native versions of popular ML frameworks like TensorFlow, PyT

[2020-09-30 14:20] lantiga opened #468 "Cache tensors on GPU in DAGs"
At the current stage, RedisAI keeps tensors "at rest" on the CPU and transfers them to GPU when needed in the context of a run (while model weights stay on the GPU).

This feature would allow DAGs to keep intermediate tensors on the GPU, if possible. The possibility and opportunity to do so (e.g. tensor produced and later directly consumed by a TORCH model located on the same GPU) can be determine

[2020-10-04 14:59] DvirDukhan commented on #458
@guyroyse https://github.com/redis/redis/pull/7841 adds `-D` flag so you can define what will be the delimiter between raw responses. In our case, you want an empty string (default is `\n`). Note that you don't need the `--raw` addition when redirecting as it is automatically detected.
In our case:
[code]

cc @lantiga @gkorland
PR currently merged to Redis `unstable`. It will be merged to Redis 6.

[2020-10-06 08:34] lantiga commented on #389
Superseded by #465

[2020-10-06 08:34] #389 closed

[2020-10-10 09:53] hhsecond commented on #203
Ideally, doing this for PyTorch is straight-forward with these two functions

[code]
But there seems to be an internal bug in PyTorch that leads libtorch to not read values set by the above functions. This will work absolutely fine in the python world. Also, it apparently [got fixed in 1.6](https://github.com/pytorch/pytorch/issues/19213). So we might need to wait till 1.6/1.7 integration? @lantig

[2020-10-12 16:12] lantiga commented on #203
Hey @hhsecond, since RedisAI 1.2.0 will sport 1.6, I would make the changes right away and start with testing against 1.6 manually until we merge the backend upgrade

[2020-10-13 23:04] mellis13 opened #476 "Failed DAGRUN with redis cluster"
# Description
Hello,
We ( @Spartee ) are investigating RedisAI on our clusters to perform inference at scale. We have everything working on a single instance of Redis with RedisAI, but are running into challenges using RedisAI with Redis clusters.  Specifically, we are trying to understand how ``DAGRUN`` should work when the input tensor and model are on different nodes.  Is  ``DAGRUN`` supposed t

[2020-10-14 12:40] gkorland commented on #476
@mellis13 DAGRUN does support cluster API, but it assumes all the keys and models are located on the same shard.
If have to shard the data/keys across different shards, you have two options:
1. Use Redis Enterprise - in Redis Enterprise the proxy is making sure the models will be broadcast to all the shards while the data will still sharded.
2. Make sure you store the model on all the shards with

[2020-10-15 09:54] DvirDukhan opened #477 "ADD Backends version reporting"

[2020-10-15 12:31] hhsecond commented on #151
This issue still exists with the current master

[2020-10-15 14:41] valdemaras-pipiras opened #478 "Crash on AI.MODELSET <key> TORCH CPU BLOB"
Oct 15 17:30:42 srv1 redis[49626]: Redis 6.0.8 crashed by signal: 11
Oct 15 17:30:42 srv1 redis[49626]: Crashed running the instruction at: 0x7f3b9001a975
Oct 15 17:30:42 srv1 redis[49626]: Accessing address: 0x18
Oct 15 17:30:42 srv1 redis[49626]: Failed assertion: <no assertion failed> (<no file>:0)
Oct 15 17:30:42 srv1 redis[49626]:
                                                      ------ S

[2020-10-15 15:14] lantiga commented on #478
Hi @valdemaras-pipiras, the current limitation is that TORCH models need to be exported with a PyTorch version that is *equal or lower* than the PyTorch version shipped as RedisAI backend.

Currently we support PyTorch 1.5.0, so you need to export your PyTorch model with PyTorch 1.5.0 or lower.

We will be updating PyTorch to the most current when we release RedisAI 1.2.0 in 2-3 weeks.

[2020-10-16 05:05] mellis13 commented on #476
@gkorland Thanks for the explanation and suggestions.  I think your solutions will be sufficient for us.  I'll go ahead and close issue.  Thank you!

[2020-10-16 05:05] #476 closed

[2020-10-16 07:11] lantiga commented on #478
@valdemaras-pipiras no rush, but can you let us know if the issue gets solved by exporting from PyTorch <= 1.50?

[2020-10-16 07:23] valdemaras-pipiras commented on #478
Hi @lantiga, sorry for the late replay and thanks for a great support!

I just wanted to take a pause until my colleague will re-generate model with PyTorch = 1.5.0.

I will come back to you with the results at once we'll test it.

Thanks one more time!

[2020-10-17 04:25] #461 closed

[2020-10-18 13:25] valdemaras-pipiras commented on #478
Hello @lantiga,

I do confirm that model created with PyTorch = 1.5.0 works like a charm.

Thanks for your support!

[2020-10-18 13:40] #478 closed

[2020-10-28 14:06] lantiga opened #484 "Occasional parsing error in DAG"
The DAG parsing code needs to be audited because I encountered a crash in one instance and a few parsing errors under heavy load (tens of thousands of requests).

[2020-10-30 08:43] lantiga commented on #484
Closing, the issue was triggered while testing #482 and it consistently showed up in test/tests_dag:test_dagrun_ro_modelrun_scriptrun_resnet in the DAG parsing function in the stack trace.

After comparing the behavior in master, this seems to be a consequence of a memory issue in #482 that shows up while parsing but it originates from the new logic.

Will need to tackle this in #482.

[2020-10-30 08:43] #484 closed

[2020-11-02 08:08] DvirDukhan opened #486 "add support for short reads on RDB"

[2020-11-02 08:15] lantiga commented on #486
Hey @DvirDukhan, can you provide a few more details on short reads?

[2020-11-02 11:31] DvirDukhan commented on #486
@lantiga
When in a primary<->replica configuration, when doing full sync the RDB is streamed to the replica (diskless sync). During that, the primary might crash, so the replica will not get all the data and cause an invalid read (short read). Redis can recognize such a situation and have a graceful cancelation of the sync on the replica, without crashing it, if the module tells Redis it is applic

[2020-11-05 10:42] Fawzikhattar commented on #468
Hello I'm interested in the feature of adding a flag to TENSORSET to create data directly on GPU any update on this?

[2020-11-05 10:44] lantiga commented on #468
Hi @Fawzikhattar, this is scheduled to happen after the 1.2.0 release. Feel free to describe your use case, so we can take it into account during the design.

[2020-11-05 11:06] Fawzikhattar commented on #468
Hello @lantiga , thank you for your reply.

My use case is very simple:

I would like to store N tensors each with dimension D=512 using redisAI, let's say N=30000 tensors. At a certain point in time I will receive a new set of tensors (around 10).

 I would like to compute the distance of every tensor in the new set to a subset (or the whole set) of the N tensors already in redis.

The distance c

[2020-11-17 11:43] filipecosta90 opened #495 "Improve RAI_TensorLength performance"
We saw an substantial amount of cpu cycles being spent on this method, that is called for multiple reasons.
we're accessing the dl_tensor structure, and it's shape array and calling the for loop.... just to do the simple computation of multiplying the dimension sizes.
we can have the pre-computed length without always calculating it...
Changes will be validated with a proper microbenchmark...
http

[2020-11-18 10:48] lantiga commented on #371
With #485 merged, we can close this issue.

[2020-11-18 10:48] #371 closed

[2020-11-18 10:58] lantiga commented on #463
Closed by #482

[2020-11-18 10:58] #463 closed

[2020-11-18 10:59] lantiga commented on #328
Closed by #482

[2020-11-18 10:59] #328 closed

[2020-11-18 10:59] lantiga commented on #184
Closed by #482

[2020-11-18 10:59] #184 closed

[2020-11-18 11:27] lantiga commented on #44
I would like to resurrect this as a proposal for making data locality more accessible.
Granted we still want TorchScript to enable access to Redis commands, making data accessible through commands even without having to resort to writing a TorchScript would go a long way in the direction of usability.

# Easy integration with Redis data structure

What I'm proposing here is to have variants of the

[2020-11-18 13:22] #302 closed

[2020-11-18 14:03] filipecosta90 commented on #437
@DvirDukhan @gkorland confirmed that the fix for this issue is present on both v1.0 and v1.2:
v1.0: Fixed by https://github.com/RedisAI/RedisAI/pull/450
v1.2 (master): Fixed by https://github.com/RedisAI/RedisAI/pull/438

[2020-11-20 01:20] Spartee commented on #123
This would be great for our use cases since we have to set a model on all cluster nodes. Right now we just make sure to set the model prior to experiment execution, but I could see us having more dynamic use cases in the future.

[2020-11-22 00:09] filipecosta90 opened #501 "RAI_TensorCreateWithDLDataType() leaks into a quick OOM."
Using a tensor with multiple images ( 1st dimension > 1 ) we get into a fast leak that causes OOM very quickly.
@lantiga @DvirDukhan I believe the culprith is not realy TF_SessionRun but us forgetting to call TF_DeleteTensor() across all dimensions right? WDYT?

![image](https://user-images.githubusercontent.com/5832149/99890030-fbe59680-2c52-11eb-99c3-30ae80285f54.png)

Used commit: 6dbd2373e672b

[2020-11-22 07:28] hhsecond opened #502 "Installation from the source is failing in MacOS"
I found a recent change of `$OS == macos` to `$OS == macosx` in the `get_deps.sh` which is causing installation failure in macos bigsur.
Here is the platform information from `paella`
[code]

[2020-11-22 07:44] lantiga commented on #501
Thank you @filipecosta90 , I'm quite surprised this only showed up today, I'm wondering if this is due to the last round of refactors.

Note that there's no difference between a tensor free for a tensor with a first dimension of 1 or 100, they are exactly the same kind of object - freeing doesn't happen across dimensions but in bulk.

Will investigate asap.

[2020-11-22 07:45] DvirDukhan opened #504 "CI issues"
- [x] Add Valgrind
- [ ] Build an entire build matrix on PR upon trigger
- [ ] Relase matrix - {platform}-{GPU}
  - [ ] Platforms - Jetson, mac, and the the entire combination of
    - [ ] Arch - x86_64(AMD), x86_64_MKL_AIX-512 (intel), arm
    - [ ] OS - ubuntu16, unbutu18, ubuntu20, Centos7
  - [ ] GPU - CPU(no-gpu), CUDA10.1-cudnn8, CUDA10.2-cudnn8, CUDA11.1-cudnn8

@rafie what do you think?

[2020-11-22 09:36] #502 closed

[2020-11-22 09:46] rafie commented on #504
valgrind - easy.
Build entire matrix: we currently build Linux platforms on master, but anything but bionic will fail because we do not build backends for those platform. But I'm taking care of this, and we'll be able to build+test the matrix when it's ready.

[2020-11-22 20:54] lantiga commented on #501
Hey @filipecosta90 can you share your minimal repro? Thanks!

[2020-11-23 16:58] lantiga opened #506 "Raise error when calling DAGRUN, MODELRUN or SCRIPTRUN within MULTI or Lua"
Since DAGRUN, MODELRUN and SCRIPTRUN are blocking commands, they can't be called from within MULTI or Lua.

We should make sure a proper error is triggered and showed to the user in those cases.

[2020-11-23 19:31] filipecosta90 commented on #501
@lantiga @DvirDukhan adding further leak info that showed up on gpu machine:
[code]

[2020-11-23 20:11] mellis13 commented on #44
@lantiga I think this is a great idea.  Extending the tensor, model, and script capabilities to be compatible with Redis strings, lists and hashes would be really helpful.

Is it possible to have `AI.TENSORSET` compatible with placing tensors into a field?  In the above example, it seems like you are describing how to do `AI.TENSORSET` if the data is already in a field, but in a lot of our use cas

[2020-11-23 21:46] mellis13 opened #508 "DAGRUN output tensor names not binary string safe"
Hello,

I have been doing some work with DAGRUN, and I encountered a problem when the output tensor name contains a 0 value.  For example, the following set of commands using the redis-CLI will not persist the correct key value (everything after the 0 value seems to be ignored).

[code]

![keys_inventory](https://user-images.githubusercontent.com/4109943/100018448-571da300-2d91-11eb-9cfb-71882863e

[2020-11-23 23:01] filipecosta90 commented on #501
[code]
leak output:
[code]

[2020-11-24 15:27] filipecosta90 opened #510 "[FEATURE] Per GPU Utilization and Memory metrics exposed as part of info modules"
Following the runtime information of on CPU inferences that we can retrieve using `info modules` we're still "blind" as per the total GPU utilization/saturation that we're reaching.

Nvidia Triton has an excellent documentation/features around it:
https://docs.nvidia.com/deeplearning/triton-inference-server/master-user-guide/docs/metrics.html

IMHO we're missing:

GPU Utilization | Power Usage | G

[2020-11-24 17:03] lantiga commented on #501
@filipecosta90 I've merged the fix (#509). Let me know if we can close this after your verifications.

[2020-11-24 17:06] filipecosta90 commented on #501
@lantiga running the large tests and up until now all good. let's wait for the benchmarks to finish :+1:

[2020-11-24 20:22] filipecosta90 commented on #501
@lantiga @DvirDukhan all good on this leak fix :+1: closing

[2020-11-24 20:22] #501 closed

[2020-11-25 07:42] gkorland commented on #87
ref #185

[2020-11-25 17:34] filipecosta90 commented on #442
This fix has been fixed by #450 ( which added the missing backport of RedisAI_TensorRedisType ) meaning that on redisai v1.0.2 this issue is gone, as can be confirmed in the following docker run output log:
[code]
We can close this issue and also RedisLabs/redismod#7

[2020-11-25 17:34] #442 closed

[2020-11-26 09:59] DvirDukhan opened #513 "Remove RedisModule_AutoMemory"

[2020-11-27 10:10] filipecosta90 opened #515 "Improve RAI_TensorSet_RedisCommand memory growth/page_fault code path by reusing already allocated redis BLOB"
We saw that on large tensors, for example an image with 1 x 3 x 224 x 224 ( 602 KiB ), the CPU cycles (wasted) on Allocator take a big chunk of the total redis-server main thread CPU cycles. In the example bellow we observe 42% wasted cpu cycles.
We should investigate ways to improve it by testing reusing previously allocated command arg memory. Only possible for `BLOB` tensorsets...
![image](http

[2020-11-27 13:10] lantiga commented on #44
Thank you @mellis13, this is precious feedback for planning the next steps.

[2020-11-29 12:37] DvirDukhan opened #516 "memory issues"
[code]

[2020-11-29 15:12] lantiga commented on #516
I cleaned up the list a bit (removed dlopen-related one-hot leaks and warnings from within backends)

[code]

[2020-11-29 16:32] alonre24 opened #517 "Unit test framework"
Fix the google test framework in RedisAI project and check for the following:

- [ ] Error handling when a device run queue isn't created properly before DAG run execution.

- [ ] Async DAG run LLAPI is enabled with a user-defined DAG run_info and OnFinish callback.

[2020-11-29 16:48] alonre24 opened #518 "Free DAG run_info based on the ref_count, instead of master field."
DAG run_info may have several of shallow copies that share some of this object internals. The internals should be freed in the run_info free function whenever the ref_count hits zero. The current implementation chooses to free the internals based on the master field of the copy, which is a leftover that need to be replaced.

[2020-11-30 13:25] #518 closed

[2020-11-30 20:05] lantiga commented on #515
We have two options:
1. check if a key being set in TENSORSET, MODELRUN OUTPUT, SCRIPTRUN OUTPUT or DAGRUN PERSIST contains a tensor with the same buffer size (in bytes) that we can re-use (instead of deallocating / reallocating)
2. keep a memory pool for tensors where we keep tensors for a while for reuse before deallocating them

The advantage of 2) is that we could use the pool whenever we need

[2020-11-30 21:36] DvirDukhan opened #522 "compile backend wrapper with debug symbols"

[2020-12-02 07:29] DvirDukhan commented on #516
update after #521
[code]

[2020-12-02 08:23] lantiga commented on #516
@DvirDukhan I confirm these are one-shot and related to the backends during exceptions and error paths. I believe there's little we can do about these at this time.

[2020-12-02 10:29] filipecosta90 opened #526 "Include latest public 1.0 benchmark results on OSS docs and describe the vision benchmark"
Currently we're only describing the fraud benchmark here:
https://oss.redislabs.com/redisai/performance/
We should:
- [ ] link to latest public results/blog
- [ ] describe vision benchmark

[2020-12-02 10:57] alonre24 opened #527 "Remove every DAG runInfo that has completed after batching"
After running a batch of operation that involves several DAGs, for every operation we update its corresponding DAG that another operation has completed. Consequently, some of the DAGs executions are completed entirely. However, we only free and unblock one completed DAG, while the rest remain in the queue. For that reason, we need to check if a DAG is completed *before* we run an operation.
Consid

[2020-12-03 10:39] #506 closed

[2020-12-03 10:57] DvirDukhan opened #529 "Expose model inputs and outputs number in `AI.MODELGET`"
As `INPUTS` and `OUTPUTS` are required only for TF models in the `AI.MODELSET` command, we want to allow investigate model's input and outputs:

- [ ] ONNX:
[code]

- [ ] Torch - User defined

[2020-12-03 16:46] nishantgeorge commented on #529
I think `AI.MODELGET` might be more appropriate since it already returns information about the model's inputs, and `AI.INFO` does not.

[2020-12-07 06:12] Spartee commented on #123
Re-iterating emphasis on this issue. This will be valuable in another way. With access to a non-blocking MODELSET command, we can implement a more dynamic workflow were a model is updated during the course of some long running process that is utilizing that model for inference.

#### ex. Outlier detection
Process group 1
- samples streamed into redis by a set of clients
- samples immediately proce

[2020-12-09 13:26] DvirDukhan opened #532 "allow variadic tensor list as an output of model run"

[2020-12-09 13:56] filipecosta90 opened #533 "Generating a Vectorization Reports on RedisAI heavy computation or ops within contiguous spaces of memory ( PROFILE builds )"
We've been discussing the vectorization report assessment on other modules and RedisAI is also a good fit for this type of analysis ( for example our autobatching or any code that does computation/operations in contiguous spaces of memory ).
To do changes we first need the reports in a compiler agnostic manner ( or to be more true worded in a compiler aware manner given they have have different fl

[2020-12-13 13:57] alonre24 opened #536 "Document the TIMEOUT feature"
The MODELRUN command allows to specify an optional TIMEOUT, however it is not documented.

[2020-12-15 16:14] #536 closed

[2020-12-16 07:37] DvirDukhan opened #539 "Move command parsing and RunInfo building from redis main thread"

[2020-12-21 13:04] lantiga commented on #508
Merged!

[2020-12-21 13:04] #508 closed

[2020-12-22 06:32] hhsecond opened #541 "RedisAI crashes on MODELSCAN & SCRIPTSCAN"
The latest push to master introduce a regression that causes RedisAI to crash when doing `MODELSCAN`. Interestingly, if the `MODELSET` is tagged, it doesn't crash. I haven't looked into the core for the exact crash issue yet but made a script to reproduce if anybody else has time (run it from the root of `redisai-py` to match the relative path to the provided model)

[code]

Crash on SCRIPTSCAN is

[2020-12-22 13:04] #541 closed

[2020-12-23 14:20] #515 closed

[2020-12-24 07:39] alonre24 opened #544 "Unsafe DAG runInfo release upon error"
After running a DAG op, we check if we encountered an error during the run. If an error has occurred, and DAG refCount hits zero, we call the "OnFinish" callback where we free and release the DAG runInfo. However, after the "OnFinish" is called we access the inner fields of the DAG runInfo which may lead to a crash:

            int device_complete_after_run = RedisAI_DagDeviceComplete(batch_rinfo

[2020-12-31 19:08] #516 closed

[2020-12-31 19:09] DvirDukhan commented on #429
closed by #537

[2020-12-31 19:09] #429 closed

[2020-12-31 19:10] #343 closed

[2020-12-31 19:11] #394 closed

[2021-01-04 15:17] #544 closed

[2021-01-04 15:26] alonre24 opened #555 "Save run stats through LLAPI"
Currently we save statistics for every MODELRUN and SCRIPTRUN operations in a designated dict that maps the model/script key to the stats entry. This occurs for every operation in a DAG upon DAGRUN_reply is invoked (in the main thread, right before the client is unblocked). In LLAPI, we do not save the statistics. This can be addressed if the statistics will be saved in the working thread before D

[2021-01-12 19:01] filipecosta90 opened #557 "AI.DAGRUN / AI.DAGRUN_RO negative tests inconsistent state"
This issue came around when I was checking the redisai-js CI:
https://app.circleci.com/pipelines/github/RedisAI/redisai-js/357/workflows/2fe83c67-79de-4ed2-aa59-2151271e4963/jobs/343

using the edge image 247c4e5e73039b1a2a349654d33ee53cbb84a4ba we can see that a negative aidagrun /ai.dagrun_ro leaves the client in an inconsistent state ( even on the following commands -- check inf modules reply..

[2021-01-12 19:44] DvirDukhan opened #559 "Consolidate responses from auxiliary functions"
Following #557
Remove RedisModule responses from auxiliary function. only the caller function should response

[2021-01-12 23:30] #557 closed

[2021-01-13 13:50] #529 closed

[2021-01-13 14:55] #465 closed

[2021-01-13 14:55] #513 closed

[2021-01-16 17:48] fernetmatt opened #562 "latest docker image (7cf663bc3e67) always crash with torch backend"
My environment is: macOS BigSur, VMWare Fusion, CentOS 8, Docker 20.10.2, redisai/redisai image id 7cf663bc3e67 pulled on Dec, 12th.

After my software connected to RedisAI, it (RedisAI) crashed. I don’t have a text report anymore but only a screenshot that you can find below this wall of text. Only valuable informations are:

- signal 11
- crashed running instruction at 0x7f9b438c3975

To make it

[2021-01-16 17:53] DvirDukhan commented on #562
hi @fernetmatt
can you please provide the full log as well as what was the command that caused it (if possible)?
also
which branch did you build and did you changed the backend version?

thanks!

[2021-01-16 18:49] fernetmatt commented on #562
Hi @DvirDukhan here we are. I've replicated the problem from the beginning.

[code]
Then, I've reproduced the crash.
Unfortunately i'm not the dev who wrote the python software but i've been able to extract the snippet

[code]

And this is the full stack trace

[code]

As i have wrote on the issue's post, to make it works I had to pull the RedisAI source from Github in order to build `redisai.so`

[2021-01-16 20:10] DvirDukhan commented on #562
@fernetmatt
note that by copying `./bin/linux-x64-release/install-cpu` you don't only copy the `redisai.so` file but also the backends
[code]

as far as I understand, you have `master` build running as well as torch 1.7 backend.

In order to proceed we have several options:
1. If you can, please provide the redis-cli `monitor` output when running the command so we can find out the root cause (redi

[2021-01-16 21:46] fernetmatt commented on #562
@DvirDukhan at the moment i'm not comfortable sharing the model. If i understand correctly you are saying the bug that caused the crash on the container built with the public image `redisai/redisai:latest (7cf663bc3e67)` is being resolved on the next release `v1.2`, right?

Anyway, thank you for the tips about injecting only the `redisai.so` file instead of the entire folder in my self-built image

[2021-01-16 22:06] DvirDukhan commented on #562
@fernetmatt
no problem
please note the following:
1. There is always a possibility that replacing only `redisai.so` from `1.0.2` to `master` build will cause unexpected behaviors with previous builds of the backends. As such, for test/staging/production usage, I would recommend that you upgrade your docker version instead of using a "patched" variant of the module.  My request to replace only the

[2021-01-16 23:49] fernetmatt commented on #562
@DvirDukhan

I have `torch v1.5.1` in production where everything works and `torch v1.7.1` on the VM (where it crashed).

I've uninstalled v1.7.1 and replaced it with `torch v1.5.1`, stopped the patched container and started a new container from `redisai/redisai:latest` and now everything works.

You got it, i'm so dump that I never thought of checking redisai's `torch` backend version to be sure

[2021-01-17 18:12] DvirDukhan opened #564 "have static error reporting strings"

[2021-01-18 18:00] #562 closed

[2021-01-19 20:21] #527 closed

[2021-01-20 11:00] DvirDukhan opened #568 "fix ramp file backends path location on master"

[2021-01-21 19:24] #568 closed

[2021-01-24 08:13] #456 closed

[2021-01-24 08:17] #486 closed

[2021-01-27 16:37] adiprasad opened #578 "Add pub/sub for tensors"

[2021-01-28 10:11] DvirDukhan commented on #477
torch version will be available when
https://github.com/pytorch/pytorch/issues/44365 is closed

[2021-01-28 19:10] DvirDukhan commented on #578
@adiprasad hi
Can you explain this request? what is the use case?

[2021-01-29 03:32] adiprasad commented on #578
@DvirDukhan Hi,

sharing in a multi agent setting..could be weights, gradients or anything else

[2021-02-02 20:11] DvirDukhan commented on #517
@alonre24 can we close this?

[2021-02-02 20:13] alonre24 commented on #517
I think so.... closing

[2021-02-02 20:13] #517 closed

[2021-02-02 20:13] DvirDukhan commented on #422
@filipecosta90 still relevant?

[2021-02-02 20:15] filipecosta90 commented on #422
@DvirDukhan not sure, but I would give it a try before closing. It should be easy to check...

[2021-02-02 20:21] DvirDukhan commented on #352
@lantiga still relevant?
From their readme:
`Note: TFRT is an early stage project and is not yet ready for general use.`
also, how it will affect #565?

[2021-02-02 20:22] lantiga commented on #352
Hi @DvirDukhan , I would close this. TFRT looks far away enough in the future.

[2021-02-02 20:33] DvirDukhan commented on #150
@hhsecond since #529 we save the ONNX input and output names. Can you validate it helps in this issue?

[2021-02-03 05:33] #477 closed

[2021-02-03 07:15] #495 closed

[2021-02-03 12:43] DvirDukhan opened #586 "DAG keep intermediate GPU tensors in GPU"

[2021-02-03 12:43] DvirDukhan opened #587 "Add model monitoring"

[2021-02-03 12:44] DvirDukhan opened #588 "Cross cluster DAG"

[2021-02-03 12:45] DvirDukhan opened #589 "Tensor operations - slice, concatenation, reshape, direct access"

[2021-02-03 12:46] DvirDukhan opened #590 "Add a command for creating a tensor from Redis data types - Hash, Set, List, String"

[2021-02-03 12:47] DvirDukhan opened #591 "Backend decoupling - Backends as infrastructure plugins"

[2021-02-03 13:04] DvirDukhan commented on #504
see #591

[2021-02-03 13:04] #504 closed

[2021-02-03 19:23] DvirDukhan opened #594 "Add GPU metrics for `AI.INFO`"

[2021-02-03 20:34] DvirDukhan opened #595 "Add TFX RedisAI deployer (custom component)"

[2021-02-03 20:34] DvirDukhan opened #596 "Create Kubeflow RedisAI deployer"

[2021-02-03 21:31] #203 closed

[2021-02-04 09:52] filipecosta90 commented on #594
Following the runtime information of on CPU inferences that we can retrieve using `info modules` we're still "blind" as per the total GPU utilization/saturation that we're reaching.

Nvidia Triton has an excellent documentation/features around it:
https://docs.nvidia.com/deeplearning/triton-inference-server/master-user-guide/docs/metrics.html

IMHO we're missing:

GPU Utilization | Power Usage | G

[2021-02-04 09:52] filipecosta90 commented on #510
closing this one in favour of #594

[2021-02-04 09:52] #510 closed

[2021-02-04 10:06] DvirDukhan opened #598 "Add QA automation trigger from CI"
Take reference from https://github.com/RediSearch/RSCoordinator

[2021-02-04 10:08] DvirDukhan opened #599 "Add Lite variant ramp file"

[2021-02-04 13:40] DvirDukhan opened #600 "LUA support"

[2021-02-04 22:41] #459 closed

[2021-02-17 08:01] DvirDukhan opened #605 "Check why docker is not published on new release/tag"

[2021-02-17 08:03] DvirDukhan opened #606 "Reduce Jetson docker size"

[2021-02-17 09:16] nishantgeorge opened #607 "AI._MODELSCAN and AI._SCRIPTSCAN are not specific to the logical database (SELECT)."
The other commands like `AI.MODELGET`, `AI.SCRIPTGET` and `AI.TENSORGET` are specific to the logical database, i.e, they will not see keys stored in other logical databases.

The behaviour of `AI._MODELSCAN` and `AI._SCRIPTSCAN` should be similar.

[2021-02-17 12:42] chayim commented on #606
Smallest possible size.

[2021-02-21 06:50] mellis13 opened #608 "Build error with dlpack 0.4"
I tried pulling down a fresh version of RedisAI today and ran into some build errors (see below).  The commands that I ran were:

[code]

It looks like dlpack bumped their version to 0.4 yesterday.  My previous successful build had dlpack v0.3, so it seems reasonable there could be an error with the new version.

[code]

[2021-02-21 08:44] DvirDukhan opened #609 "have fixed dlpack version on get_deps"
following #608  1.0.x should be built with dlpack 0.3

[2021-02-21 08:46] DvirDukhan opened #610 "change dlpack `ctx` do `device`"
following #608
upgrade to dlpack 0.4 and rename the member

[2021-02-21 08:47] DvirDukhan commented on #608
@mellis13 thanks for reporting
we will have it fix soon

[2021-02-21 13:34] #609 closed

[2021-02-28 08:13] #610 closed

[2021-03-04 11:51] DvirDukhan opened #624 "new DAG op - hash values to tensors"
part of #590

[2021-03-08 11:45] chayim commented on #606
Size reduced through these changes. We'll continue to iterate on this ticket **if necessary**. Leaving open for now, with initial PR merged to master.

[2021-03-08 15:55] #605 closed

[2021-03-09 08:43] rafie commented on #606
@chayim I'm afraid docker image will not reduce in size unless we squash via `docker build --squash`, which is an experimental docker daemon feature, but might be available on our side.

[2021-03-09 10:55] chayim commented on #606
Squash is randomly unstable - I run it on my desktop for a personal project and it has produced more than it's fair share of broken images. Mind you, it's gotten a lot better than 17.05. Maybe time to revisit.

[2021-03-09 13:15] rafie commented on #606
@chayim I prefer to take the Buildah route (where you can cp, rm, and then commit).

[2021-03-09 21:57] DvirDukhan opened #630 "update 1.0 CI"

[2021-03-09 21:58] DvirDukhan opened #631 "update tflite"

[2021-03-11 08:38] chayim commented on #631
Migrate the script to our build environment and docker build. VERSION=2.4.1 and ARCH=aarch64 work with the script in opt/build/tflite/new_build.sh

[2021-03-11 08:48] DvirDukhan opened #633 "RedisEdge Automated build"
Create an automated build and update for RedisEdge docker image with tag `edge`, upon new `edge` images updates for RedisAI, RedisGears, RedisTimeSeries

Should be applicable for x86_64 and Jetsons

[2021-03-12 19:59] filipecosta90 opened #635 "BATCHSIZE + MINBATCHSIZE and stdlib allocator results in consistent crash on RedisAI ( failed assertion and segfault )"
Important configs:
- Redis v6.2.1 built with stdlib allocator ( and specific perf flags ): `make REDIS_CFLAGS="-g -fno-omit-frame-pointer" MALLOC=libc VERBOSE=1 -j`
- RedisAI git_sha= 110030e93c5d445504d892209a5a6a9e41e1b340
- running with `redis-server --save "" --daemonize no --protected-mode no --loadmodule bin/linux-x64-release-profile/install-cpu/redisai.so`

Steps to reproduce on client:
[co

[2021-03-12 22:43] filipecosta90 opened #637 "Optimize backends and RedisAI code based on instruction set extensions available and/or microarchitecture"
We need a cross-platform infrastructure that warns and uses the optimized functions based on instruction set extensions available and or microarchitecture.
**Goal:** If you can use SSE, SSE2, SSE3, SSSE3, SSE4.1, SSE4.2, SSE4a, SSE5, AVX, AVX2, AVX-512 and you're not taking advantage of it you'll be warned that these are available on your machine and could speed up CPU computations.

I've prepared

[2021-03-13 17:24] #635 closed

[2021-03-15 16:29] alonre24 opened #640 "Upgrade python in docker: nvidia/cuda:11.0-cudnn8-devel-ubuntu16.04"
This is needed for building onnxruntime 1.7.1:

__main__.BuildError: Bad python minor version: expecting python 3.6+, found version '3.5.2 (default, Jan 26 2021, 13:30:48)

[2021-03-16 07:59] #599 closed

[2021-03-17 09:42] chayim commented on #630
Merged from the ck-1.0-respin branch. Closing.

[2021-03-17 09:42] #630 closed

[2021-03-17 10:06] chayim commented on #633
We want for x86-64 **and** jetson
- edge-cpu
- edge-gpu

These are to be made up of the latest master for each of the dependencies. Using the redisedge repo, we're going to update the Dockerfile accordingly.

[2021-03-17 11:03] #640 closed

[2021-03-18 12:05] chayim commented on #633
- [ ] Build x64 dockers from edge
- [ ] Wire x64 to CI
- [ ] Build .jetson Gears docker
- [ ] Wire arm Gears docker to CI
- [ ] Build .jetseon Timeseries docker
- [ ] Wire arm Timeseries docker to CI

[2021-03-18 15:02] alonre24 opened #648 "Enable non-async MODELRUN via torchscript"
Add a mechanism that allows calling RedisAI commands (especially MODELRUN) from within torchscript. These commands shouldn't run in a background thread as they usually do, but from the calling thread (which is a background thread by itself).
Motivation: Being able to run a torchdrift model from a torchscript and saving its output to redis as one operation, instead of splitting it into 3 steps (run

[2021-03-21 18:06] filipecosta90 opened #651 "TensorFlow Lite v2.0.0: tfliteDeallocContext: delete ctx_ is causing SIGABRT (munmap_chunk(): invalid pointer) on tests with large client side batches"
### steps to reproduce
#### RedisAI
[code]

#### Benchmark client ( all required dependencies are in the following links )
Use linux based machine for client

[code]

### GDB backtrace
[code]

[2021-03-22 11:20] LutzWeischerFujitsu opened #652 "build fails on AArch64, Fedora 33"
[jw@cn05 redisai]$ sh get_deps.sh cpu
dlpack is in place.
Installing TensorFlow ...
There are errors.
[jw@cn05 redisai]$

[2021-03-24 09:28] chayim commented on #652
Thank you for reporting, It's in the backlog.

[2021-04-04 06:43] chayim commented on #606
Updated ask: Need to look at nvidia dockers for jetson as the base image.

[2021-04-06 06:27] DvirDukhan opened #669 "change AI.MODELRUN command to fit enterprise cluster"
change the `AI.MODELRUN` command

[2021-04-06 06:28] DvirDukhan opened #670 "change AI.SCRIPTRUN command to fit enterprise cluster"

[2021-04-06 06:28] DvirDukhan opened #671 "change AI.DAGRUN command to fit enterprise cluster"

[2021-04-06 10:56] AlexMikhalev opened #672 "Support for generative models T5, BERT generation, BART"
There is a number of models which in addition to forward() method have a generate() method, simplest example using T5 for text summarisation:
[code]
We had a discussion with @DvirDukhan in chat and tried to redefine generate via forward class:

[code]
but generate function calls forward internally. So far I could not find a way to trace Generative model and load it into Redis AI.
My understanding

[2021-04-06 13:18] DvirDukhan commented on #672
hi @AlexMikhalev
I had a discussion with @lantiga
the solution might be here
https://huggingface.co/transformers/serialization.html
Where you can export to ONNX or PyTorch models.
note:
If the model is too big try to quantize the model, as protobuf limitation is 2 GB.

[2021-04-06 17:25] AlexMikhalev commented on #672
Hello @DvirDukhan and @lantiga,
I am not sure I understand the directions:
With your help, I can save and load standard BERT models (and yes, my protobuf 2GB): [export and load](https://github.com/applied-knowledge-systems/the-pattern-api/blob/12c2a1e79b93a48366cb02dfa4e4bfd5b08a7cf5/qasearch/export_load_bert.py), it's the fact that generative models have forward and backwards pass inside the sepa

[2021-04-07 19:33] DvirDukhan commented on #672
@AlexMikhalev
As far as I recall @lantiga (and feel free to correct me if I'm wrong) explenation, the `generate()` function calls many time (in your case: between 40 to 150 times) to `forward` in order to generate an output (or until stop). The `backwards` is far is I recall is for computing gradients in the learning phase.
With regards to your original question, can you please check this issue? h

[2021-04-08 14:09] ThomAub opened #673 "docker command update from `redislabs/redisai` to `redisai/redisai`"
Hello,
I try to follow the readme but I was not able to pull the image with the `docker run -p 6379:6379 redislabs/redisai:latest` looking at docker hub I saw that this maybe moved to redisai/redisai ?
If this is correct I can try to point to where it appears in the documentation ?

[2021-04-08 14:13] chayim commented on #673
@ThomAub The latest **edge** push of RedisAI can be found with edge-cpu and edge-gpu tags at https://hub.docker.com/r/redislabs/redisai/tags?page=1&ordering=last_updated.

I'll update the documentation accordingly.

[2021-04-08 14:17] ThomAub commented on #673
@chayim ok I will use this !
Thanks for this fast answer I'm eager to play a bit with RedisAI :)

[2021-04-08 14:20] chayim commented on #673
My pleasure, good luck. This is literally the bleeding edge ;)

[2021-04-08 14:24] #673 closed

[2021-04-09 02:09] aljohn0422 opened #675 "outdated dependency download URL when building from source"
https://github.com/RedisAI/RedisAI/blob/43b91ff882d001279274052a5a41b08ec29eb94f/get_deps.sh#L148
https://github.com/RedisAI/RedisAI/blob/43b91ff882d001279274052a5a41b08ec29eb94f/get_deps.sh#L197
https://github.com/RedisAI/RedisAI/blob/43b91ff882d001279274052a5a41b08ec29eb94f/get_deps.sh#L285

I'm trying to build RedisAI docker image on Jetson.
These version settings generate the following downloa

[2021-04-09 02:10] aljohn0422 commented on #652
The download URL does not work anymore.

[2021-04-09 19:48] DvirDukhan commented on #675
hi @aljohn0422
Thanks for reporting.
You are right, our jetson builds and instructions are half-baked, and for that, I'm sorry for any inconveniences.  We are in fact WIP on making life easier for jetson users:
1. https://github.com/RedisAI/RedisAI/issues/606
2. https://github.com/RedisAI/RedisAI/issues/631

[2021-04-12 11:38] AlexMikhalev commented on #672
Hello @DvirDukhan, yes I have seen this bug. I am not sure what would be the best way forward - most examples with generative text models lead to transformers (although I managed to find a few with PyTorch coded from scratch).
I am currently exploring how https://github.com/LaurentMazare/tch-rs binds to PyTorch so they can expose calls of pre-trained models into Rust (rust-bert).

[2021-04-13 16:24] ThomAub opened #681 "rust client feedback"
hello,

After playing around with RedisAI through the cli and python client I found it very interesting and wanted to dig a bit deeper into the implementation and how to interact with it.
So I'm building a rust client mostly for fun and continue exploration. If you have any feedback or recommendation please feel free to make an issue [https://github.com/ThomAub/redisai-rs](in the repo) or comment

[2021-04-13 17:13] DvirDukhan commented on #681
@ThomAub Thanks!
Ping me or @gkorland once you are done coding,  so we will add it to our clients' list.
Please note that we are currently updating our execution API (moving from `MODEL/SCRIPT/DAGRUN` to `MODEL/SCRIPT/DAGEXECUTE`), and it will be done within the next 1-2 weeks, so I suggest opening an eye on our PR page and documentation.
Those changes will occur in 1.2 while keeping to the curren

[2021-04-15 09:27] AlexMikhalev commented on #672
I found another implementation of BART summarisation:
https://github.com/pytorch/fairseq/tree/master/examples/bart which have a simple enough generate() function in [summarize.py](https://github.com/pytorch/fairseq/blob/master/examples/bart/summarize.py) I may try to turn it to TorchScript to run inside RedisAI, but it will open question to pass hashtag() to touch script.
Thoughts?

[2021-04-18 07:31] DvirDukhan opened #686 "add to docs - build backends from source on different platforms"

[2021-04-19 10:03] lantiga commented on #672
Hello @AlexMikhalev, thanks for raising the issue.
At the present stage, beam search or greedy approaches for transformers are beyond the reach of RedisAI. The reason is that currently you cannot call MODELRUN from a SCRIPT, so you would need to run beam search or greedy strategies from the client, calling into RedisAI to run individual encoder/decoder calls.

However, we are looking into this ver

[2021-04-21 07:53] chayim opened #692 "CI Changes"
Based on our conversation today, we're going to change the implementation of our CI runs so that they follow the rules indicated below. This will result in multiple commits and branch combinations to complete.

move platform build to 'normal' not GPU

MASTER

- compile
- unit tests
- platform build / publish
- valgrind
  - valgrind the other two

VERSION BRANCHES

- compile
- unit tests
- valgrind

[2021-04-21 11:19] chayim opened #694 "Build each backend from source, and update the docs"
Each of our backends needs to be buildable from source using the new method from #631 utilizing base dockers.

Build and publish each back end to S3, and update the documentation.

Platforms required at a minimum: x86_64, arm64 (jetson).

[2021-04-21 12:27] chayim commented on #692
@DvirDukhan @alonre24 Given [this document](https://circleci.com/docs/2.0/triggers/#skip-builds) it would appear we can *not* trigger circleci runs based on a comment. How about add the comment to our commit messages instead? This would result in **not** having to reinvent the wheel.

[2021-04-22 09:24] filipecosta90 opened #696 "Automated benchmarks use-cases"
Following the creation of the framework for evaluating and comparing feature branches and catching regressions prior letting them into the master branch/versions we need to specify the critical commands we want to keep track of.

We already have in place automation to enabled redis-benchmark related benchmarks on CI/LOCAL machines, meaning we're only missing the use-cases that are critical to Prod

[2021-04-22 12:59] chayim opened #698 "build-and-test-gpu as a workflow"
We'll move this to a github action similar to valgrind - but keep it this way for now, until that is ready.

_Originally posted by @chayim in https://github.com/RedisAI/RedisAI/pull/695#discussion_r618377359_

[2021-04-27 05:56] chayim opened #706 "restore tflite on osx"
As part of upgrading to tflite 2.4.x in #631 , we removed support for OSX (actively) from the build system. This tracks restoring int.

[2021-04-28 22:14] DvirDukhan opened #712 "docs - RedisGears python bindings for RedisAI"

[2021-04-28 22:15] DvirDukhan opened #713 "docs - development setup"
explain what happens in `make setup`

[2021-04-28 22:16] DvirDukhan opened #714 "docs - update development"

[2021-04-29 19:34] maguec opened #716 "RedisAI throws stack trace"
[code]

Reproduction steps:

1) pull and start latest redismod container
[code]

2) load a model

[code]

3) load a gear

[code]

Gear

[code]

4) Set stream

[code]

Crash logs:

[code]

[2021-04-30 14:26] ThomAub opened #717 "Model data type"
Hello,

Will it be possible to configure model data type (same a tensor dtype) ?

Let's say it do some quantisation on my model I would like to be able to use redis AI and do inference on tensor in float16, int8.

I think most backend implement this mechanism but I don't know if it's something that would interest redisAI ?

[2021-05-02 05:45] gkorland commented on #717
Sure, RedisAI support different datatypes see `TENSOR.SET` command: https://oss.redislabs.com/redisai/commands/#aitensorset

[2021-05-02 07:14] ThomAub commented on #717
Hello,

thank you for your answer and sorry I wasn’t very clear in my question.

In AI.TENSORSET it’s possible to add the datatype in the tensor META.
For AI.MOSELSET or AI.MOSELSTORE it’s not. Would it be something of interest to add a dtype in the model META ? This would represent the model weights datatype.

It’s not really an issue but just an idea for discussion.
I’m currently overcoming this

[2021-05-02 12:31] gkorland commented on #717
We didn't think about since the models are usually holding this metadata in the graph definition

[2021-05-02 20:20] DvirDukhan commented on #716
@maguec
we have a fix planned already, we will probably introduce it to RedisAI next week
for now, please change you inputs and outputs in the gears script to be aligned with you `MODELSET` command
[code]

[2021-05-04 11:11] chayim commented on #713
Confluence or our docs?

[2021-05-04 11:11] chayim commented on #714
Confluence or our docs?

[2021-05-04 11:14] DvirDukhan commented on #714
our
but this one is one me :)

[2021-05-04 11:39] chayim opened #722 "Changing how we build dockers"
**Background Information:** We build docker images in CI, on a specific need. We build these any time we run the platform build, but don't necessarily distribute them. Occasionally (master, version branches, release tags) we publish them to GitHub.

**External Issue:** We have an external requirement on making a _buster_ build of redisai, for edge. RedisAI wants to support multiple published versi

[2021-05-04 11:40] chayim commented on #722
@K-Jo @gkorland @rafie @DvirDukhan @alonre24 do you have anything to add?

[2021-05-04 15:57] DvirDukhan commented on #722
overall seems a good solution, with fewer scripts. Now we need to discuss `RedisEdge` and `RedisMod` as they are combining different modules. If we will not provide a `buster` build it might cause a problem. My suggestion is to avoid stacking dockers with different file system structures, meaning you will have to know where the binaries+deps are stored and download the binaries from s3 instead. Th

[2021-05-06 06:10] chayim commented on #722
@DvirDukhan We could provide a buster image (I build one in my tests). Ultimately it's a platform that's between xenial and bionic, so it shouldn't have an extra support cost (yes, famous last words).

To make sure I understand your versioning, and how it differs from [readies #22](https://github.com/RedisLabsModules/readies/issues/22) can you write out a few, fully qualified names? I just want to

[2021-05-06 06:33] DvirDukhan commented on #722
redisai-x86-cpu-ubuntu_20.04:1.2.3
redisai-x86-cuda_11.0-ubuntu_20.04:edge
redisai-x86_intel-cuda_11.0-ubuntu_20.04:1latest
redisai_arm-cpu-ubuntu_20.04:1.2.3
redisai_arm-cuda-10.2-ubuntu_20.04:1.2.3

Regarding RedisEdge and RedisMod, I think it is preferable to avoid the "stacking dockers" approach. You will need prior knowledge on how the dockers are built, additional runtime libraries location,

[2021-05-06 07:28] chayim commented on #722
Regarding RedisEdge + RedisMod, I agree with your approach. I prefer disting as a strategy in all cases.

Regarding the versioning:

1. Is there any specific reason it was **redisai-x86** and then **redisai_arm** (notice the undescore).

This makes each of these look like individual products within the redislabs repo. My preference is for the detail to be similar to what [nvidia did in dockerhub]]

[2021-05-07 00:42] d00astro opened #724 "`GLIBC_2.27 not found` on Xenial GPU Docker image"
**Describe the bug**
"ERR could not load backend" when using the Docker image `redislabs/redisai:latest-gpu-x64-xenial`, and trying to load a TF model.
The image `redislabs/redisai:1.0.3-gpu-x64-xenial` has this issue too.

It seems to be specific to these images, as neither `redislabs/redisai:latest-cpu-x64-xenial` (Xenial CPU) nor `redislabs/redisai:latest-gpu-x64-bionic` (Bionic GPU) have this

[2021-05-07 04:58] segawasai opened #725 "Invalid GraphDef"
**Describe the bug**
When I run the example of RedisAI using below command:
 **_redis-cli -x AI.MODELSTORE foo TF CPU INPUTS 2 a b OUTPUTS 1 c BLOB < tests/flow/test_data/graph.pb._**

I got the Error: Invalid GraphDef

[2021-05-07 07:15] donchev7 opened #726 "Can not do inference in a redis transaction"
Hi,

maybe I am doing something wrong but what is the general flow of doing a prediction / inference execution with redisAI?

When I do:

[code]

I get an error telling me AI.MODELRUN does not support to be wrapped inside a transaction:

[code]

My question is, how do I take care of race conditions if the **key** and **outputKey** are const?

My workaround is to use random suffixes for **key** and

[2021-05-07 10:14] DvirDukhan commented on #725
@segawasai thanks for reporting.
what is your RedisAI version?

[2021-05-07 10:18] DvirDukhan commented on #726
you can do it with a DAG context https://oss.redislabs.com/redisai/master/commands/#aidagrun
[code]
Note that in the next week we will deprecate `DAGRUN` command and introduce `DAGEXECUTE`. The `DAGRUN` command will still be available but not recommended to use.

[2021-05-07 10:20] DvirDukhan commented on #724
@d00astro thanks for reporting!
we will check it out

[2021-05-09 09:09] chayim commented on #724
@d00astro Thanks for reporting this. At first glance it looks like it could be the result of a dependency. Running strings against the shared object, I get the list below (note the lack of 2.2.27). I checked our shared objects, and we're similarly missing this version of glibc.

GLIBC_2.6
GLIBC_2.15
GLIBC_2.11
GLIBCXX_3.4.19
GLIBC_2.3.4
GLIBCXX_3.4.17
GLIBCXX_3.4.15
GLIBCXX_3.4.18
GLIBCXX_3.4
GLIB

[2021-05-09 09:27] chayim commented on #591
At the very least - let's decouple the backend plugins and move them into their own repo.

[2021-05-09 12:10] chayim commented on #722
@DvirDukhan For x64 we're at the point of just tagging them.  Instead of using the version numbers (i.e 20.04) for Ubuntu, we're instead relying on the current name (i.e focal).

[2021-05-09 13:18] #692 closed

[2021-05-09 13:20] chayim commented on #631
Removed myself since @DvirDukhan is now on point from here.

[2021-05-09 13:21] chayim commented on #598
CC @DvirDukhan @filipecosta90 Folks do you know what we want to run here? I have the workflow integration for GitHub -> CI now... so we can approach this.

[2021-05-10 07:32] chayim opened #732 "Forked PRs fail to trigger CircleCI Valgrind + GPU actions"

[2021-05-10 07:33] chayim opened #733 "Equivalent for avoid_...docs is needed for other uses"
avoid_for_docs can be leveraged elsewhere, like for other workflows (i.e ignore github actions).

[2021-05-10 08:12] chayim opened #734 "CI UX for labels"
Currently every time we want to trigger a CI run we need to add and remove the label. Ideally these would run if a PR is assigned (so that an external contributor doesn't trigger GPU runs), and continue running if approved, purely on updates.

[2021-05-10 08:43] #733 closed

[2021-05-10 08:43] #734 closed

[2021-05-10 08:52] chayim commented on #598
@filipecosta90 Likely Dvir's comment above refers to https://github.com/RediSearch/RSCoordinator/blob/9f9c5fc756fd0e2d442e933aa37d57c2088fe427/.circleci/config.yml#L147

Please let me know what exactly we'd like to run, and I'll lift it.

[2021-05-10 10:53] chayim opened #736 "Edge docker builds overwrite each other"
RedisAI edge docker builds, overwrite each other - as they both push to edge-{cpu|gpu}. Instead, they should follow the versioning standard in place.

[2021-05-11 09:49] #726 closed

[2021-05-12 06:40] esandoval30 opened #743 "Unable to build RedisAI from Source - bash get_deps.sh"
**Describe the bug**
Following Build instructions here https://oss.redislabs.com/redisai/quickstart/

The command bash get_deps.sh fails with "There are errors"

**To Reproduce**
Steps to reproduce the behavior:
1. git clone --recursive https://github.com/RedisAI/RedisAI
2. cd RedisAI
3. bash get_deps.sh

Observed error

**Expected behavior**
A clear and concise description of what you expected to

[2021-05-12 06:55] chayim commented on #743
Hi @esandoval30, thank you for reporting this! From what branch were you build?

Please note - we're in the middle of updating our OSX support.

[2021-05-12 07:09] esandoval30 commented on #743
Good to hear osx support is being updated

Re:branch. I just cloned "git clone --recursive https://github.com/RedisAI/RedisAI"

[2021-05-12 07:10] chayim commented on #743
@esandoval30 Thanks, one final question. Are you on an M1, or x86 mac hardware?

[2021-05-12 07:13] esandoval30 commented on #743
processor = 2.4 GHz 8-Core Intel Core i9

[2021-05-12 07:14] chayim commented on #743
Awesome, thanks for the information!

[2021-05-31 11:06] chayim commented on #698
Closing as this is solved in other changes.

[2021-05-31 11:06] #698 closed

[2021-05-31 13:00] #732 closed

[2021-06-03 22:46] mellis13 opened #777 "Build error with gcc 10.3.0"
**Describe the bug**
RedisAI fails to link when using gcc 10.3.0.  Numerous errors are generated that have the form:

[code]

On the same system, using gcc 8.3.0 RedisAI compiled and linked successfully.

**To Reproduce**
[code]

**Expected behavior**

No linking errors.

**Environment:**
 - OS: Linux
 - Version ``master`` and ``1.2`` branches.
 - Platfrom x86
 - Runtime CPU

[2021-06-03 22:57] Spartee commented on #743
We have seen this issue on our side as well for MacOS on intel. After investigation it seemed to be a dead link to the onnx runtime (as y'all are using a vendored version with a custom memory allocator now I believe)

[2021-06-03 22:59] Spartee commented on #694
Would love to see this!

[2021-06-03 23:09] Spartee commented on #594
Would it also be possible to add what device RedisAI was built for in ``AI.INFO``? i.e. CPU or GPU

[2021-06-04 19:16] DvirDukhan commented on #777
@mellis13 thanks for reporting
we are aware of build issues with gcc version >= 10 and we will try to deliver a proper solution for that
Thanks

[2021-06-04 19:19] DvirDukhan commented on #594
@Spartee can you elaborate, please? what is the expected output?

[2021-06-04 20:27] Spartee commented on #777
Just wanted to add this as it seems to be related: https://github.com/Shopify/semian/issues/261#issuecomment-781685569

[2021-06-04 20:37] Spartee commented on #594
@DvirDukhan Since RedisAI (to my knowledge) cannot be built for both CPU and GPU, and the build process has no way of making two shared libraries for both devices, it would be nice if there was a method/log that could be queried for which device (CPU/GPU) RedisAI was built for.

ex.

### Before
[code]

### After
[code]

There is obviously the ``install-gpu`` and ``install-cpu``, but  when solely d

[2021-06-05 21:06] DvirDukhan commented on #594
@Spartee the difference is in the backends, meaning, that the module itself is agnostic to the GPU/CPU build. when running `AI.INFO` with loaded backend(s) the backend version is printed (currently on supported backends only)
[code]
will something like
[code]
seems reasonable?

[2021-06-06 06:54] #716 closed

[2021-06-06 19:43] Spartee commented on #594
@DvirDukhan that makes sense and yes, that will be perfect. I think that will be generally useful information for most users as well.

[2021-06-08 17:06] NullP0interEx opened #782 "RegisterCustomDeviceAllocator in onnxruntime_c_api.h"
Hello, I'm trying to build the project with my own version of onnxruntime-osx-x64-1.7.1. Why does my onnxruntime_c_api.h not contain a RegisterCustomDeviceAllocator in OrtApi, but the header file from your S3 server does?
What am I doing wrong?

**To Reproduce**
ALL=1 CC=/usr/local/Cellar/gcc@9/9.4.0/bin/gcc-9 make -C opt clean build

**Expected behavior**
A clear and concise description of what y

[2021-06-08 17:10] chayim commented on #782
@NullP0interEx We currently have a fork of [onnxruntime](https://github.com/RedisAI/onnxruntime) that we're using to build the backend. We're working on better documentation for the back ends as well, but I think this should help!

Also, I see you're building on OSX. Please let me know the results, I haven't built on OSX in ages, and it's also on the cleanup backlog.

[2021-06-08 17:16] NullP0interEx commented on #782
Great thank you. I will test it.

[2021-06-10 04:38] #669 closed

[2021-06-10 04:39] #671 closed

[2021-06-10 04:39] #670 closed

[2021-06-21 15:05] davave opened #795 "Problems loading torchscript"
# Background
python version: 3.7.3
pytorch version: 1.8.1
torchvision version: 0.9.1
# Issue
I'm trying to run a torchscript model from [Ultralytics/YoloV5](https://github.com/ultralytics/yolov5) in RedisAI using python.
I exported the model using [export.py](https://github.com/ultralytics/yolov5/blob/master/models/export.py):
[code]
and the file weights.torchscript.pt is generated. When I try to

[2021-06-22 05:42] gkorland commented on #795
@davave are you sure it's a torchscript script and not a pytorch model?
Can you please try to load the model with `modelset` and not `scriptset`?

[2021-06-22 07:21] davave commented on #795
Thank you @gkorland.

I am not really sure as i am quite a newbie with this tools, but I looked around and found that there are two different ways to create a torchscript script from a pytorch model: jit.trace and jit.script. I chose to  use the former since it was the one proposed by the authors and I did not have a complete knowledge of the model.

When I run:
[code]
the result is
[code]
I also

[2021-06-27 09:47] #651 closed

[2021-07-16 03:39] jenny-cheung opened #812 "Potential error(e.g., deadlock) due to the unreleased lock &run_queue_info->run_queue_mutex"
Dear Developers:
           First, thank you for your checking. The lock acquired at pthread_mutex_lock(&run_queue_info->run_queue_mutex); if the control flow goes to the break statement. The fix is to insert the unlock statement before breaking. Thank you.

https://github.com/RedisAI/RedisAI/blob/1fdc22b38a994f6e50287028c9ee44abcf636fab/src/execution/background_workers.c#L270

https://github.com/